<link rel="icon shortcut" id="favicon" type="image/x-icon" href="img/favicon/sdi.ico">
<link rel="apple-touch-icon" sizes="180x180" href="img/favicon/180x180.png">
<link rel="apple-touch-icon" sizes="120x120" href="img/favicon/120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="img/favicon/76x76.png">