.state--hidden {
	visibility: none !important;
	opacity: 0 !important;
}

.feedback__bar--active {
	transform: translate3d(0,90px,0) !important;
	opacity: 1 !important;
	transition: all .5s ease;
}

.loader--active {
	opacity: 1 !important;
	pointer-events: all !important;
}

.checkbox--active .label-checkbox {
   background: url('../img/check.png') no-repeat center, white !important;
   background-size: 80% !important;
}

.checkbox--inactive .label-checkbox {
	border-color: red !important;
}

.preloader__scale--out {
	transition: all .7s ease;
}
.preloader__wrapper--out {
	opacity: 0;
	visibility: hidden;
}