@media only screen and (max-width: 1279px) {

  $quantity: 170;

  @for $i from 1 through $quantity {
    .mfs--#{$i} {
      font-size: 1px * $i !important;
      @if $i < 6 {
        line-height: 5px !important;
      }
      @else {
        line-height: 1px * $i + 2 !important;
      }
    }
  }

}
