@media (max-width: 667px) and (max-height: 375px) {
	body, html {
		overflow: hidden;
	}
	#anchor-up {
		bottom: 15%;
		right: 23px;
	}

	/**/
	.menu_main_box {
		height: 115vh;
		.menu_main {
			top: 70vh	;
		}
		&:before {
			height: 152vh;
		}
		.soc {
			bottom: -15vh;
		}
		.change_lang {
			bottom: -13vh;
		}
	}
	/**/
	/*INDEX*/
	.mainSlide_text_wrap {
		display: none;
	}
	.menu_main_box {
		top: -120%;
	}
	.swiper .slide-one {
		left: 9%;
		width: 225px;
	}
	.swiper .slide-two {
		display: block;
		left: 50%;
		width: 225px;
	}
	.feedback_form_wrap {
		transform: none !important;
		top: 10% !important;
		textarea + label {
			top: -6px !important;
		}
		.row {
			overflow: scroll;
			padding-bottom: 150px;
		}
	}
	/*INDEX*/

	/*CONTACTS*/
	.contacts_wrap {
		overflow: scroll;
	}
	#bd .vertical_line_box {
		height: 170%;
	}
	#bd.bd-contacts {
		 pointer-events: all;
	    overflow-y: scroll;
	    overflow-x: hidden;
	    height: 100vh;
	    #map {
	    	height: 535px;
	    }
	}
	/*CONTACTS*/


	/*INFROSTOITEL*/
	#bd .infrostr_img {
		height: 50vw;
	}
	/*INFROSTOITEL*/

}
