@media screen and (max-width:1024px) {


    .feedback_form_head {
        border-bottom: 2px solid #fff;
        margin-bottom: 35px;
        height: 168px;
        width: 100%;
        resize: none;
        font: 16px/48px Gilroy;
    }

.feedback_form_wrap textarea::-webkit-input-placeholder {
    font-size: 68px;
    line-height: 78px;
    text-align: center;
}.feedback_form_wrap textarea::-ms-input-placeholder {
    font-size: 68px;
    line-height: 78px;
    text-align: center;
}.feedback_form_wrap textarea::-o-input-placeholder {
    font-size: 68px;
    line-height: 78px;
    text-align: center;
}.feedback_form_wrap textarea::-moz-placeholder {
    font-size: 68px;
    line-height: 78px;
    text-align: center;
}

    .news__nav {
         width: 110%;
        left: -5%;
    }

    .news__wrapper .news__nav__next svg {
        position: relative;
        top: 30px;
    }

    .news__nav .col-lg-6 {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }

.news__wrapper .news__nav__prev svg {
    position: relative;
    top: 30px;
}

    #anchor-up {
        right: 22px;
    }

    #bd .news__post > p:first-of-type {
      margin-top: 60px;
    }

    .news__nav__prev p, .news__nav__next p {
        position: absolute;
    }

        .news__nav__prev p, .news__nav__next p:before {
        display: none;
    }

    .news__nav__button p span {
        display: none;
    }

    .news__nav__prev svg {
        fill: #121212 !important;
    }

    .news__nav__next svg {
        fill: #121212 !important;
    }

    .news__nav__prev svg, .news__nav__next svg {
        width: 46px !important;
    }

    .post__horizontal__line {
        top: 552px;
        width: 50%;
    }

    .post_share {
        top: 541px;
    }


    .news__wrapper .news__post p {
        color: #121212;
        font-family: Gilroy;
        font-size: 15px;
        font-weight: 400;
        line-height: 20px;
    }

    .news__wrapper {
      padding: 0 3%;
      .owl-carousel {
        .owl-nav > div {
            top: 25%;
        }
        .owl-item {
            .item  {
                height: 225px;
            }
        }
      }
    }

    .news__wrapper .news__nav__button {
        p {
            text-align: center !important;
            display: block !important;
            width: 100% !important;
            margin: 0 0 !important;
            left: 0 !important;
            right: 0 !important;
        }
    }

    .news__wrapper .news__nav__button  {
        a, p {
            color: black !important;
        }
    }
    .news__nav__prev:hover svg {
        transform: rotate(180deg);
    }

    .news__nav__next:hover svg {
        transform: rotate(0deg);
    }



    #bd .fg-body {
        height: 265px
    }
    .feedback_form_head {
        height: 90px
    }
    .container-fluid.under-parallax {
        padding-top: 45px
    }
    .vertical_line_box .icon_plus {
        top: 82px
    }
    .vertical_line_box .icon_2,
    .vertical_line_box .icon_3,
    .vertical_line_box .icon_4,
    .vertical_line_box .icon_6,
    .vertical_line_box .icon_7,
    .vertical_line_box .icon_8,
    .vertical_line_box .icon_10,
    .vertical_line_box .icon_11,
    .vertical_line_box .icon_12,
    .vertical_line_box .icon_13,
    .vertical_line_box .icon_14,
    .vertical_line_box .icon_15 {
        display: none
    }
    .parallax-el {
        height: 260px
    }
    #bd .contacts_wrap {
        top: 35%;
        left: 43.7%;
        width: 55%;
        dl .glow {
            width: 100%;
        }
    }
    .swiper .slide-basis {
        height: 128px
    }
    .mainSlide .video__wrapper>div {
        height: 100%
    }
    .swiper .slide-basis:before {
        display: none
    }
    .swiper {
        margin-top: 80px
    }
    .swiper .slide-three {
        display: none
    }
    .swiper .slide small {
        left: 18%;
        top: 0
    }
    .swiper .slide h3 {
        left: 18%;
        top: 20px;
        margin-top: 20px
    }
    .owl-carousel {
        padding-bottom: 75px
    }
    .shutter__wrapper .shutter-1 {
        width: 33.966667%;
        right: -20.5%;
    }
    .shutter__wrapper .shutter-2 {
        width: 36.866667%;
        right: 13.166667%;
    }
    .shutter__wrapper .shutter-3 {
        width: 37.466667%;
        right: 49.8%
    }
    .shutter__wrapper .shutter-4 {
        width: 31.466667%;
        right: 86.7%;
    }
    .shutter__wrapper .shutter-5,
    .shutter__wrapper .shutter-6 {
        display: none
    }
    .infrostr_experience {
        margin-bottom: 140px!important
    }
    .infrostr_experience h2 {
        margin: 0 0 20px 55px
    }
    .infrostr_img_wrap .col-md-6:first-of-type {
        padding-top: 45px;
    }
    .owl-carousel {
        margin-bottom: 50px
    }
    .contacts_wrap dl dt:first-of-type {
        margin-top: 80px;
    }
    .owl-carousel .item {
        width: 70vw
    }
    body,
    html {
        overflow-x: hidden!important
    }
    .infrostr_img_wrap h2 {
        padding: 0;
        margin-top: 0
    }
    h1 {
        font-size: 35px
    }
    h2 {
        font-size: 20px
    }
    #bd .empty_box {
        height: 40px
    }
    #hd .logo {
        left: 20px
    }
    #hd .phone {
        right: 15px
    }
    #ft {
        height: 60px;
        line-height: 60px;
        margin: 0 auto;
        padding: 5px 15px 0
    }
    #ft .creator {
        right: 15px
    }
    #ft .soc {
        right: 75px
    }
    #ft .icon_dots {
        display: none
    }
    #ft.ft_main {
        line-height: 65px
    }
    #ft.ft_main .soc {
        right: 66px;
    }
    #ft.ft_main .icon_dots {
        display: block
    }
    .vertical_line_box {
        width: 74.1%;
    }
    .vertical_line_2,
    .vertical_line_4 {
        display: none
    }
    .horizontal_line {
        width: 100%
    }
    .horizontal_line.pull-right {
        left: 0
    }
    .head_page {
        width: 63%;
        height: 260px;
        margin: 0 auto 50px;
        padding: 0
    }
    .head_page h1,
    ol {
        position: absolute;
        left: 25px;
        width: 100%
    }
    .head_page h1 {
        bottom: 57px;
        margin: 0
    }
    .head_page .breadcrumb {
        bottom: 30px
    }
    .head_page_bg {
        height: 260px
    }
    .head_page_bg .icon_plus {
        top: 82px
    }
    .head_page_bg .icon_plus:nth-child(odd) {
        bottom: 12px
    }
    .head_page_bg .icon_plus.icon_3,
    .head_page_bg .icon_plus.icon_4,
    .head_page_bg .icon_plus.icon_7,
    .head_page_bg .icon_plus.icon_8,
    .head_page_bg.main .icon_plus.icon_1,
    .head_page_bg.main .icon_plus.icon_5,
    .head_page_bg.main .icon_plus.icon_9,
    .head_page_bg.main .icon_plus.icon_12,
    .head_page_bg.main .icon_plus.icon_14 {
        display: none
    }
    .head_page_bg.main .icon_plus.icon_2,
    .head_page_bg.main .icon_plus.icon_6,
    .head_page_bg.main .icon_plus.icon_10 {
        bottom: 70px
    }
    .mainSlide .mainSlide_text .big,
    .mainSlide .small .small_img {
        left: 0
    }
    .mainSlide .small .small_text {
        left: 24%;
    }
    .mainSlide_text {
        bottom: 30px!important
    }
    .hot_news_wrap {
        top: 105px
    }
    .hot_news {
        width: 100%
    }
    .hot_news .item {
        padding: 0 10px 0 20px
    }
    .hot_news .item-mini:before,
    .hot_news .item:before {
        display: none
    }
    .swiper-container .swiper-button-prev {
        left: 15px
    }
    .swiper-container .swiper-button-next {
        right: 15px
    }
    .hot_news .date {
        position: relative;
        left: 0;
        margin-bottom: 3px
    }
    .hot_news .all_news {
        display: none
    }
    .owl-carousel .owl-nav {
        top: 25px
    }
    .owl-carousel .owl-nav>div {
        height: 83%;
        top: 33%
    }
    .owl-carousel .owl-nav .prev {
        left: 15px
    }
    .owl-carousel .owl-nav .prev:before {
        left: 4px;
        top: 4px;
        -webkit-transform: rotate(180deg);
        transform: rotate(180deg)
    }
    .owl-carousel .owl-nav .next {
        right: 15px
    }
    .owl-carousel .owl-nav .next:before {
        left: auto;
        right: 4px;
        top: 4px;
        -webkit-transform: rotate(0);
        transform: rotate(0)
    }
    #hd.show_feedback {
        top: 0
    }
    .show_feedback .mainSlide_text {
        bottom: -47px
    }
    .feedback_form_wrap {
        bottom: 30px;
    }
    .feedback_form {
        width: 63%
    }
    .about_page {
        margin-bottom: 20px
    }
    .about_page .row+.row {
        margin-top: 45px
    }
    .about_page .col-md-6 {
        float: none!important;
        padding: 0 30px 50px
    }
    .news_list {
        margin-top: 0;
        margin-bottom: 40px
    }
    .news_list_item {
        margin-bottom: 45px
    }
    .news_list_name .pale {
        position: absolute;
        left: 35px;
        bottom: 25px;
        color: #121212
    }
    .news_list_name .glow {
        display: none
    }
    .news_list_text .more {
        width: auto;
        padding-right: 50px;
        color: #888;
        opacity: 1
    }
    .news_choise {
        margin-bottom: 45px
    }
    .housing_page h2 {
        font-size: 28px
    }
    .housing_page .row+.row {
        margin-top: 40px
    }
    .housing_page .col-md-6 {
        padding: 0 25px!important;
        margin-bottom: 40px
    }
    .housing_page .col-md-6+.col-md-6 {
        margin-bottom: 10px
    }
    .housing_page .col-sm-12 {
        padding: 0 25px
    }
    .housing_page .col-lg-6 {
        padding: 0 25px!important
    }
    .housing_page .col-lg-6+.col-lg-6 {
        margin-top: 20px
    }
    .housing_page .logo_jk {
        margin-top: 25px
    }
    .img_line_wrap .img_line_top_bg {
        width: 63%
    }
    .infrostr_page h2 {
        font-size: 28px
    }
    .infrostr_page .col-md-6 {
        padding: 0 25px 50px;
        position: static
    }
    .infrostr_page .text_vertical {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        padding: 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        margin-bottom: 25px
    }
    .infrostr_map {
        margin: 90px 0
    }
    .infrostr_map_list {
        left: 25px
    }
    .infrostr_map_img {
        margin-left: -50px
    }
    .infrostr_img_wrap .col-md-6+.col-md-6 {
        padding: 0
    }
    .infrostr_experience {
        margin: 75px 0
    }
    .infrostr_experience h2 {
        margin-left: 25px
    }
    .infrostr_experience .horizontal_line {
        left: 0;
        width: 100%
    }
    .infrostr_experience .col-md-6 {
        padding-top: 25px;
        padding-bottom: 0
    }
    .prjs_page {
        width: auto;
        margin: 0 15px
    }
    .prj_item {
        margin-bottom: 85px
    }
    .prj_item h2 {
        font-size: 28px;
        margin: 0 20px 35px
    }
    .prj_item .more {
        right: 0
    }
    .prj_item .horizontal_line {
        width: 50%
    }
    .prj_item_img {
        margin: 0
    }
    .prj_item_logo {
        width: 190px
    }
    .prj_page+.img_line_wrap {
        margin-top: 90px
    }
    .prj_page h2 {
        font-size: 28px
    }
    .prj_page .col-md-6 {
        padding: 0 25px 45px;
        position: static
    }
    .prj_page .col-md-6+.col-md-6 {
        padding-bottom: 45px
    }
    .prj_page .col-lg-6 {
        padding-left: 25px;
        padding-right: 25px
    }
    .prj_page .btn {
        width: 290px
    }
    .contacts_wrap .icon_plus {
        top: 9px
    }
    .smi_page_row .glow {
        width: 100%
    }
    .smi_page_row .glow__wrapper {
        width: 100%;
    }
    .mainSlide .mainSlide_text_wrap--multiple {
        left: 45px
    }

    #form {
        .form-row-2 {
            flex-wrap: wrap;
            .item {
                flex-basis: 47%;
            }
            .item:last-of-type {
                margin-top: 50px;
                input {
                    width: 50%;
                }
            }
        }
        .form-row-3 {
            flex-wrap: wrap;
            position: relative;
            .item:first-of-type {
                position: absolute;
                width: 47%;
                top: -106px;
            }
            .item {
                flex-basis: 100%;
            }
        }
    }
    
    #form .label-checkbox {
        top: 3px;
    }

    #ft .creator svg {
        top: 5px;
    }

    #ft.ft_contacts .creator svg {
        top: 9px;
    }

    #message {
        & + label {
            font-size: 8.8vw;
            height: 90px;
            line-height: 90px;
        }
    }

    #bd .smi_page  {
        .smi_page_row {
            .col-lg-6 {
                float: left !important;
            }
        }
        .smi_page_row_post {
            margin-bottom: 100px;
            background: none;
            .more {
                opacity: 1;
                width: auto;
                color: #888;
                padding-right: 50px;
                float: right;
            }
        }
        .smi_page_row_reward {
            margin-bottom: 100px;
            .w-horizontal_line {
                top: 90%;
            }
            .row-desc {
                padding-bottom: 150px;   
            }
            .reward-img {
                top: 95% !important;
            }
            .smi_page_year {
                top: 91%;
            }
            &.pull-right {
                .reward-img {
                    left: 0;
                    right: auto;
                    top: 55%;
                }
                .circle-big {
                    left: -100%;
                }
                .circle-small {
                    left: -100%;
                }
            }
            &.pull-left {
                .reward-img {
                    right: -102px;
                    left: auto;
                    &.reward-img-fiabci {
                        // right: -195px;
                        transform: scale(.8);
                        img {
                            position: relative;
                            top: -90px;
                        }
                    }
                }
                .circle-big {
                    left: 200%;
                }
                .circle-small {
                    left: 200%;
                }
                .reward-img {
                    // top: 180px;
                }
            }
        }
    }


}