@media screen and (max-width:767px) {

    .contacts_wrap dl dt:first-of-type {
        margin-top: 30px;
    }

    .feedback_form_wrap textarea::-webkit-input-placeholder {
        font-size: 13vw;
        line-height: 48px;
        text-align: center;
    }.feedback_form_wrap textarea::-ms-input-placeholder {
        font-size: 35px;
        line-height: 48px;
        text-align: center;
    }.feedback_form_wrap textarea::-o-input-placeholder {
        font-size: 35px;
        line-height: 48px;
        text-align: center;
    }.feedback_form_wrap textarea::-moz-placeholder {
        font-size: 35px;
        line-height: 48px;
        text-align: center;
    }

    #ft.ft_main .creator {
        display: none;
    }

    .news__wrapper .news__nav__prev svg {
        transform: translate(-50%,0%) rotate(180deg);
        -webkit-transform: translate(-50%,0%) rotate(180deg);
    }

    .news__wrapper .news__nav__next p {
        margin: 0 0 !important;
    }

  .vertical_line_box:not(.vertical_line_box_main) {
      max-width: 1050px;
      width: 80%;
  }

  .container.news__wrapper {
    width: 97.5%;
  }

  #bd .news__post > p:first-of-type {
    margin-top: 20px;
  }

    .news__nav__prev p, .news__nav__next p {
        display: none;
    }

    .news__nav__prev svg {
        left: 25% !important;
        fill: #121212 !important;
    }

    .news__nav__next svg {
        right: 50% !important;
        left: 1px !important;
        fill: #121212 !important;
    }

    .news__nav__prev svg, .news__nav__next svg {
        width: 46px !important;
    }

    .news__wrapper .news__nav__prev {
        p {
            padding-left: 24%;
        }
    }
        .news__wrapper .news__nav__next {
        p {
            padding-right: 22%;
        }
        svg {
            transform: translate(-35%, 0%) rotate(0deg);
        }
    }

    .news__wrapper h2 {
        margin-bottom: 0;
    }

    .post_share {
        display: none;
    }

    .post__horizontal__line {
        display: none;
    }

    .img-100 {
        width: 100% !important;
        left: 0 !important;
        margin: 0 auto;
    }

    .post__horizontal__line {
        top: 552px;
        width: 50%;
    }

    .post_share {
        top: 541px;
    }

    .infrostr_img_wrap .col-md-6:first-of-type {
        padding-bottom: 0;
    }
    .infrostr_experience {
        margin-top: 0px;
    }
    .infrostr_map .dot_elips_1,
    .infrostr_map .dot_elips_2,
    .infrostr_map .dot_elips_3 {
        width: 52px;
        height: 52px;
        top: 90px;
        left: 90px;
    }
    #bd .fg-body {
        height: 165px;
        margin-top: 75px;
        margin-bottom: 50px;
    }
    #anchor-up {
        bottom: 8%;
        right: 19px;
    }
    .swiper .slide small {
        left: 8%;
    }
    .feedback_form_head {
        height: 60px;
    }
    #video-wrapper {
        height: 100%;
    }
    // .swiper .slide-basis {
    //     padding-left: 20px;
    // }
    #bd .contacts_wrap {
        width: 70%;
    }
    .bd-contacts {
        height: 100vh!important;
    }
    .vertical_line_box .icon_plus {
        top: 66px;
    }
    .parallax-el {
        height: 175px;
    }
    #bd .contacts_wrap {
        top: 0;
        left: 0;
    }
    .swiper {
        margin-top: 10px;
    }
    .swiper .swiper-slide {
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
    }
    .swiper .slide-one, .swiper .slide-two {
        position: static;
        left: 0;
        padding: 0 5vw;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;

        & > div {
            order: 2;
            h3 {
                margin-top: 0 !important;
            }
        }
        small {
            left: 0 !important;
            position: static;
            order: 1;
        }
    }
    .swiper .slide-two {
        display: none;
    }
    .mainSlide .video__wrapper {
        height: 100vh;
    }
    .mainSlide .small_img {
        width: 63px!important;
        height: 54px!important;
    }
    .owl-carousel .owl-nav div {
        top: 35%!important;
        height: 75%!important;
    }
    .owl-carousel {
        padding-bottom: 50px;
    }
    #ft .icon_dots {
        left: 47.6%;
        margin-top: -6px;
    }
    .vertical_line_1,
    .vertical_line_2,
    .vertical_line_4,
    .vertical_line_5 {
        display: none;
    }
    .vertical_line_box {
        height: 100%;
    }
    .vertical_line_box:not(.vertical_line_box_main) {
        height: 110%;
    }
    .shutter-1 {
        width: 50%!important;
        right: 0!important;
    }
    .shutter-2 {
        width: 50%!important;
        right: 50%!important;
    }
    .icon_11,
    .icon_15,
    .shutter-3,
    .shutter-4,
    .shutter-5,
    .shutter-6 {
        display: none!important;
    }
    body {
        overflow-y: hidden;
    }
    #form input:not([type=submit]) {
        width: 100%;
    }
    #form .error_text {
        bottom: -25px;
    }
    .mainSlide .big {
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        padding-left: 40px;
    }
    .mainSlide_text_wrap--multiple .big {
        padding-left: 32px;
    }
    #ft {
        position: relative!important;
    }
    #bd.bd-main {
        height: 100% !important;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
    }
    .mainSlide_text {
        bottom: 0!important;
    }
    .mainSlide .mainSlide_text_wrap {
        left: 0;
    }
    .small {
        bottom: 110px!important;
        left: 135px!important;
    }
    .mainSlide .small .small_img {
        left: -100px;
    }
    .mainSlide .mainSlide_text .small .small_img img {
        -webkit-transform: translateX(182%);
        transform: translateX(182%);
        margin-right: 0;
    }
    .small .small_text {
        left: -7%!important;
    }
    .mainSlide_text .big {
        height: 185px;
        overflow: hidden;
        width: 282px;
    }
    .mainSlide_text .big .big__first {
        width: 70px;
        margin-right: 10px;
    }
    .mainSlide .mainSlide_text_wrap--multiple .big>span {
        width: 60px;
    }
    .mainSlide_text .big>div {
        line-height: 100px;
    }
    .owl-stage-outer {
        height: 210px;
    }
    .owl-carousel .owl-nav div {
        top: 22%!important;
        height: 78%!important;
    }
    .prj_page .col-md-6:nth-of-type(2) {
        margin-top: 0;
    }
    .owl-carousel {
        margin-bottom: 10px;
    }
    .owl-carousel .item {
        height: 164px;
        width: 90vw;
    }
    .owl-nav {
        z-index: 1;
    }
    .owl-carousel .owl-prev {
        background: url(../img/icon-prev-w.png) no-repeat 50%!important;
        left: 5vw;
        z-index: 2;
    }
    .owl-carousel .owl-next {
        background: url(../img/icon-next-w.png) no-repeat 50%!important;
        right: 5vw;
        z-index: 2;
    }
    html {
        min-height: 530px;
    }
    h1 {
        font-size: 20px;
        position: absolute;
        left: 15px;
        bottom: 27px;
        margin: 0;
    }
    body,
    html {
        font-size: 14px;
    }
    #hd {
        height: 70px;
    }
    #hd .logo {
        left: 15px;
        top: 9px;
    }
    #hd .phone {
        display: none;
    }
    #hd .menuBtn {
        left: auto;
        right: 15px;
        padding-right: 25px;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    #hd .menuBtn:before {
        top: 2px;
        height: 10px;
        border-top: 2px solid #f4f4f4;
        border-bottom: 2px solid #f4f4f4;
    }
    #hd .menuBtn:after,
    #hd .menuBtn:before {
        content: "";
        position: absolute;
        right: 0;
        width: 19px;
    }
    #hd .menuBtn:after {
        top: 6px;
        height: 2px;
        background: #f4f4f4;
    }
    #ft .soc {
        display: none;
    }
    #ft.ft_main {
        height: 34px;
        line-height: 0;
        position: fixed!important;
        bottom: 0;
        width: 100vw;
    }
    #ft.ft_main .copy {
        display: none;
    }
    #ft.ft_main .icon_dots {
        display: block;
        background-image: url(../img/icon_dot_ft_white.png);
    }
    .menu_main_box {
        width: 100%;
        height: 100vh;
        top: -110%;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    .menu_main_box .close {
        top: 30px;
        padding-right: 20px;
        background: url(../img/icon_close.png) right 2px no-repeat;
    }
    .menu_main_box .change_lang,
    .menu_main_box .close {
        left: auto;
        right: 15px;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    .menu_main_box .change_lang {
        bottom: 30px;
    }
    .menu_main_box .phone,
    .menu_main_box .soc {
        display: block;
    }
    .menu_main {
        width: 290px;
    }
    .menu_main li a {
        font-size: 13px;
    }
    .menu_main li+li {
        margin-top: 20px;
    }
    .container {
        width: 100%;
    }
    .breadcrumb {
        display: none;
    }
    .vertical_line_box {
        width: 80%;
    }
    .horizontal_line {
        left: 10%;
        width: 80%;
    }
    .horizontal_line.pull-right {
        left: 10%;
    }
    .horizontal_line .icon_plus_1 {
        width: 34px;
        height: 34px;
        margin: -17px 0 0 -17px;
        opacity: .7;
    }
    .horizontal_line .icon_plus_2,
    .horizontal_line .icon_plus_3 {
        display: none;
    }
    .head_page {
        width: 100%;
        height: 175px;
        margin: 0 auto 30px;
        padding: 0;
    }
    .head_page h1 {
        left: 15px;
        bottom: 27px;
    }
    .head_page_bg {
        height: 175px;
    }
    .head_page_bg .icon_plus {
        top: 66px;
    }
    .head_page_bg .icon_plus:nth-child(odd) {
        display: none;
    }
    .head_page_bg.main {
        height: 100%;
    }
    .head_page_bg.main .icon_plus.icon_2,
    .head_page_bg.main .icon_plus.icon_6,
    .head_page_bg.main .icon_plus.icon_10 {
        display: none;
    }
    .head_page_bg.main .icon_plus.icon_11,
    .head_page_bg.main .icon_plus.icon_13,
    .head_page_bg.main .icon_plus.icon_15 {
        margin-top: -30px;
    }
    .mainSlide {
        height: 100%;
        padding-bottom: 0;
    }
    .mainSlide_text_wrap {
        width: 80%;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: .015em;
    }
    .mainSlide_text {
        left: -20px;
        bottom: 55px;
    }
    .mainSlide_text .small {
        left: 65px;
        bottom: 128px;
    }
    .mainSlide_text .small img {
        left: -65px;
        top: 50%;
        width: 55px;
    }
    .mainSlide_text .big {
        font-size: 100px;
        line-height: 195px;
        height: 130px;
    }
    .hot_news_wrap {
        top: 91px;
        padding: 0 15px;
    }
    .hot_news {
        width: 100%;
    }
    .hot_news .item {
        padding: 0 60px 0 80px;
        display: none;
    }
    .hot_news .item:first-child {
        display: block;
    }
    .main_page_wrap.show_feedback {
        top: -70%;
    }
    .main_page_wrap.show_feedback .mainSlide {
        height: calc(100% - 25px);
        padding-bottom: 25px;
    }
    .main_page_wrap.show_feedback .mainSlide_text {
        bottom: -40px;
    }
    #hd.show_feedback {
        position: absolute;
        top: -70%;
    }
    .feedback_form {
        width: auto;
        margin: 0 15px;
    }
    .feedback_form .item {
        float: none!important;
        width: 100%;
        padding: 0!important;
        margin-bottom: 15px;
    }
    .feedback_form .item:last-child {
        margin-top: 40px;
    }
    .feedback_form .error_text {
        bottom: -17px;
    }
    .feedback_form_head {
        margin-bottom: 15px;
    }
    .about_page .col-md-6 {
        padding: 0 15px 25px;
    }
    .about_page .col-md-6+.col-md-6 {
        padding-bottom: 50px;
    }
    .about_page .btn {
        width: 290px;
        margin-bottom: 20px;
    }
    .img_about_page {
        margin: 0;
    }
    .news_list {
        margin-top: 0;
    }
    .news_list,
    .news_list_item {
        margin-bottom: 40px;
    }
    .news_date {
        margin-left: 15px;
    }
    .news_list_name {
        height: auto;
        padding: 25px 15px;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .news_list_name .pale {
        position: relative;
        left: 0;
        bottom: 0;
    }
    .news_list_name .horizontal_line {
        left: 10%;
        width: 80%;
    }
    .news_list_name .horizontal_line .icon_plus+.icon_plus {
        display: none;
    }
    .news_list_text {
        padding: 0 15px;
    }
    .news_list_text p {
        height: auto;
        margin-bottom: 20px;
    }
    .news_choise {
        margin-bottom: 45px;
        padding-right: 15px;
    }
    .search_box input[type=text] {
        padding: 0 15px;
    }
    .search_box input[type=submit] {
        right: 15px;
    }
    .search_box .del_text {
        right: 50px;
    }
    .housing_page h2 {
        font-size: 20px;
    }
    .housing_page .h2 {
        width: 100%;
        font-size: 20px;
        line-height: 1.2;
        padding: 0 25px 25px 15px;
        margin: 0 0 45px;
    }
    .housing_page .h2:after {
        left: 10%;
        width: 80%;
    }
    .housing_page .h2 .horizontal_line {
        width: 80%;
        left: 10%!important;
    }
    .housing_page .col-md-6 {
        padding: 0 15px!important;
    }
    .housing_page .col-sm-12 {
        padding: 0 15px;
    }
    .housing_page .col-lg-6 {
        padding: 0 15px!important;
    }
    .housing_page .logo_jk img {
        width: 130px;
    }
    .img_line_wrap {
        margin-bottom: 25px;
    }
    .img_line_wrap .img_line_top_bg {
        width: 80%;
    }
    .img_line_wrap img {
        height: 155px;
    }
    .smi_page {
        margin-bottom: 20px;
    }
    .smi_page .h1 {
        width: 100%;
        padding: 0 15px 45px;
        margin-bottom: 45px;
        font-size: 20px;
    }
    .smi_page .h1:after {
        left: 10%;
        width: 80%;
    }

    .news_list .h1 {
        width: 100%;
        padding: 0 15px 45px;
        margin-bottom: 45px;
        font-size: 20px;
    }
    .news_list .h1:after {
        left: 10%;
        width: 100%;
    }

    .news_list .h1 {
        margin-top: 0;
        &:after {
            width: 80%;
        }
        .horizontal_line {
            width: 80%;
        }
    }

    .news_list_name .horizontal_line {
        top: 100%;
    }


    .smi_page .col-lg-6 {
        padding: 0 15px!important;
    }
    .smi_page .horizontal_line {
        width: 75%;
        left: 15%!important;
    }
    .smi_page .h1 .horizontal_line {
        width: 80%;
        left: 10%!important;
    }
    .smi_page .icon_plus_5 {
        display: none;
    }
    .img_smi_page {
        left: 15%;
        width: 75%;
        margin: 30px 0 20px;
    }
    .img_smi_page img {
        margin-left: -63px;
    }
    .smi_page_row:nth-child(odd) .img_smi_page {
        left: auto;
        right: 15%;
        margin: 30px 0 20px;
        text-align: right;
    }
    .smi_page_row:nth-child(odd) .img_smi_page img {
        display: inline-block;
        margin: 0 -63px 0 0;
    }
    .smi_page_row:nth-child(odd) .horizontal_line {
        width: 75%;
        left: auto!important;
        right: 15%;
    }
    .smi_page_year {
        left: 10%;
        top: 45%;
        margin: -40px 0 0 -15px;
    }
    .smi_page_year.pull-right {
        right: 10%;
        margin-right: -15px;
    }
    .infrostr_page h2,
    .infrostr_page h3 {
        font-size: 20px;
    }
    .infrostr_page .horizontal_line {
        left: 10%;
        width: 80%;
    }
    .infrostr_page .col-md-6 {
        padding: 0 15px 50px;
    }
    .infrostr_map {
        margin: 80px 0 90px;
    }
    .infrostr_map_list {
        left: 15px;
        top: -30px;
    }
    .infrostr_map_list li:nth-child(odd) {
        width: 115px;
    }
    .infrostr_map_img {
        margin-left: 15px;
    }
    .infrostr_map_img img {
        height: 380px;
    }
    .infrostr_map .dot {
        width: 6px;
        height: 6px;
        border-radius: 3px;
    }
    .infrostr_map .dot.active {
        width: 8px;
        height: 8px;
        border-radius: 4px;
    }
    .infrostr_map .dot.dot_1 {
        left: 100px;
        top: 59%;
    }
    .infrostr_map .dot.dot_2 {
        left: 40px;;
        top: 78%;
    }
    .infrostr_map .dot.dot_3 {
        left: 182px;
        top: 81%;
    }
    .infrostr_map .dot.dot_4 {
        left: 89px;
        top: 89.7%;
    }
    .infrostr_map .dot.dot_5 {
        left: 74px;
        top: 94.5%;
    }
    .infrostr_map .dot.dot_6 {
        left: 110px;
        top: 92.5%;
    }
    .infrostr_map .dot_text {
        left: 18px;
        top: -4px;
        font-size: 14px;
    }
    .infrostr_img {
        margin: -20px 15px 0;
    }
    .infrostr_img .img_2 {
        left: 10px;
        top: -10px;
        width: calc(100% - 20px);
    }
    .infrostr_img .img_3 {
        left: 20px;
        top: -20px;
        width: calc(100% - 40px);
    }
    .infrostr_experience h2 {
        margin-left: 15px;
        margin-bottom: 10px;
    }
    .infrostr_experience .col-md-6 {
        padding-top: 15px;
        padding-bottom: 0;
    }
    .infrostr_experience .horizontal_line {
        left: 0;
        width: 100%;
    }
    .infrostr_experience .icon_plus {
        display: none;
    }
    .prjs_page {
        width: auto;
        margin: 0 15px 20px;
    }
    .prj_item {
        margin-bottom: 45px;
    }
    .prj_item h2 {
        font-size: 20px;
        margin: 0 0 25px;
    }
    .prj_item h2 .glow {
        width: 100%;
    }
    .prj_item .more {
        position: relative;
        display: block;
        width: 290px;
        margin: 25px auto 0;
    }
    .prj_item .horizontal_line {
        display: none;
    }
    .prj_item_img {
        height: 155px;
        margin: 0;
        background-size: cover;
    }
    .prj_item_img img {
        opacity: 0;
    }
    .prj_item_logo {
        width: 105px;
        height: 50px;
        line-height: 50px;
        padding-right: 15px;
        margin-top: -25px;
    }
    .prj_item_logo img {
        max-width: 70px;
        opacity: 1;
    }
    .prj_page+.img_line_wrap {
        margin-top: 40px;
    }
    .prj_page h2 {
        font-size: 20px;
    }
    .prj_page .horizontal_line {
        left: 10%;
        width: 80%;
    }
    .prj_page .col-lg-6 .horizontal_line {
        display: none;
    }
    .prj_page .col-md-6 {
        padding: 0 15px 45px;
    }
    .prj_page .col-lg-6 {
        padding-left: 15px;
        padding-right: 15px;
    }
    .prj_page .col-lg-6+.col-lg-6 {
        padding-bottom: 0;
    }
    .contacts_wrap {
        padding: 100px 0 0 15px;
        left: 0;
        top: 0;
        -webkit-transform: translate(0);
        transform: translate(0);
    }
    .contacts_wrap h1 {
        position: relative;
        left: 0;
        bottom: 0;
    }
    .contacts_wrap .icon_plus {
        left: 12%;
        top: -42px;
    }
    .contacts_wrap .col-lg-4 {
        padding-left: 0;
    }
    .contacts_wrap dl {
        font-size: 14px;
    }
    .contacts_wrap dt {
        margin-bottom: 10px;
    }
    .contacts_wrap dd {
        font-size: 20px;
        margin-bottom: 40px;
    }
    .head_page_bg.contacts .icon_plus.icon_11,
    .head_page_bg.contacts .icon_plus.icon_13,
    .head_page_bg.contacts .icon_plus.icon_15 {
        top: 94%;
    }

    .feedback_form_wrap {
        top: 13vh;
    }


    #form {
        .form-row-2 {
            flex-wrap: wrap;
            .item {
                flex-basis: 100%;
            }
            .item:last-of-type {
                margin-top: 20px;
                input {
                    width: 63%;
                }
            }
        }
         .form-row-3{
            flex-wrap: wrap;
            margin-top: 20px;
            .item {
                position: static !important;
                width: 100%;
                flex-basis: 100%;
                input {
                    margin-top: 0;
                }
            }
            .item:first-of-type {
                display: flex;
                flex-flow: row nowrap;
                justify-content: space-between;
                margin-right: 0;
                input {
                    width: 0px;
                    height: 0px;
                }
                label {
                    flex-basis: 90%;
                }
            }
            .item:last-of-type {
                margin-top: 20px;
            }
        }
    }
    .main-translate .feedback_form_wrap {
        top: 50%;
        transform: translateY(-50%);
        height: 460px;
    }

    #form .license-label  {
        padding-left: 0;
    }

        #message {
        & + label {
            font-size: 12.6vw;
            height: 60px;
            line-height: 60px;
        }
    }


    .smi_page_row_post {
        margin-bottom: 40px !important;
        .w-horizontal_line {
            display: none;
        }
    }

    .smi_page_row_reward {
        .circle-small {
            display: none;
        }
        .circle-big {
            display: none;
        }
        &.pull-left {
            .reward-img  {
                right: -10.5% !important;
                &.reward-img-fiabci {
                    img {
                        position: relative;
                        top: -146px;
                    }
                }
            }
            div.reward-img-fiabci {
                transform: scale(0.55) !important;
                top: 74% !important;
                img {
                    top: -145px !important;
                }
            }
            .w-horizontal_line {
                left: 11.8% !important;
                width: 38% !important;
            }
        }
        &.pull-right {
            .reward-img {
                left: 16% !important;
            }
            .w-horizontal_line {
                right: 11.7% !important;
                width: 38% !important;
            }
        }
    }

    .smi_page .smi_page_row_reward.pull-right .w-horizontal_line {
        right: 10.2% !important;
    }

    .news__wrapper {

      .owl-carousel {
        .owl-nav > div {
            top: 30% !important;
        }
        .owl-prev {
            left: 5.5vw;
        }
        .owl-next {
            right: 5.5vw;
        }
        .owl-item {
            .item  {
                width: 78vw !important;
            }
        }
      }
    }

}