@media screen and (max-width:1279px) {
    body,
    html {
        overflow: auto
    }
    .feedback_form_wrap--visible {
        height: 300px
    }
    .hot_news .all_news {
        padding-left: 29px
    }
    .feedback_form_wrap {
        bottom: 80px
    }
    // .feedback_form input {
    //     max-width: none!important;
    //     width: 100%
    // }
    // .feedback_form .item {
    //     width: 50%;
    //     padding-right: 20px
    // }
    // .feedback_form .item+.item {
    //     padding: 0 0 0 20px
    // }
    // .feedback_form .item:last-child {
    //     float: right;
    //     width: 100%;
    //     padding: 0;
    //     margin-top: 70px
    // }
    .feedback_form_head {
        margin-bottom: 45px;
        padding-bottom: 10px
    }
    .about_page .col-md-6 {
        padding: 0 30px 55px
    }
    .about_page .text {
        position: relative;
        left: 0;
        top: 0;
        width: auto;
        -webkit-transform: translateY(0);
        transform: translateY(0)
    }
    .about_page .pull-right .text {
        left: 0
    }
    .img_about_page {
        margin: 0 -40px
    }
    .housing_page .col-lg-6+.col-lg-6 {
        margin-top: 35px
    }
    .smi_page {
        margin-bottom: 50px
    }
    .smi_page_row+.smi_page_row {
        margin-top: 0
    }
    .smi_page .h1 {
        padding: 0 0 13px 25px;
        margin-bottom: 95px
    }
    .smi_page .horizontal_line {
        width: 100%;
        left: 0!important;
        top: 45%
    }
    .smi_page .col-lg-6 {
        padding: 0 25px!important;
        position: relative
    }
    .smi_page .col-lg-6:after {
        content: "";
        display: table;
        clear: both
    }
    .smi_page .col-lg-6.pull-right {
        float: none!important
    }
    .smi_page_link {
        width: 100%
    }
    .img_smi_page {
        position: relative;
        left: 0;
        -webkit-transform: translate(0);
        transform: translate(0);
        float: left;
        margin: 30px 0 20px -76px
    }
    .smi_page_row:nth-child(odd) .img_smi_page {
        float: right;
        margin: 30px -76px 20px 0
    }
    .smi_page_year {
        top: 45%
    }
    .prj_page .col-md-6 {
        padding: 0 15px 55px 30px
    }
    .prj_page .col-md-6+.col-md-6 {
        padding-bottom: 0
    }
    .prj_page .col-lg-6 {
        padding-bottom: 25px
    }
    .prj_page .col-lg-6+.col-lg-6 {
        padding-top: 25px
    }
    .prj_page .col-lg-6 h2 {
        margin-bottom: 15px
    }
    .prj_page .col-lg-6 .horizontal_line {
        bottom: 0;
        top: auto
    }
    .prj_page .col-lg-6+.col-lg-6 .horizontal_line {
        bottom: auto;
        top: -1px
    }
    .prj_page .col-lg-6+.col-lg-6 .icon_plus {
        left: 100%
    }
}