@font-face {
    font-family: Gilroy;
    src: url(../fonts/Gilroy.eot);
    src: url(../fonts/Gilroy.eot) format("embedded-opentype"), url(../fonts/Gilroy.woff) format("woff"), url(../fonts/Gilroy.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyUltraLight.eot);
    src: url(../fonts/GilroyUltraLight.eot) format("embedded-opentype"), url(../fonts/GilroyUltraLight.woff) format("woff"), url(../fonts/GilroyUltraLight.ttf) format("truetype");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyLight.eot);
    src: url(../fonts/GilroyLight.eot) format("embedded-opentype"), url(../fonts/GilroyLight.woff) format("woff"), url(../fonts/GilroyLight.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyMedium.eot);
    src: url(../fonts/GilroyMedium.eot) format("embedded-opentype"), url(../fonts/GilroyMedium.woff) format("woff"), url(../fonts/GilroyMedium.ttf) format("truetype");
    font-weight: 500;
    font-style: normal
}

@font-face {
    font-family: Gilroy;
    src: url(../fonts/GilroyBold.eot);
    src: url(../fonts/GilroyBold.eot) format("embedded-opentype"), url(../fonts/GilroyBold.woff) format("woff"), url(../fonts/GilroyBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNova.eot);
    src: url(../fonts/ProximaNova.eot) format("embedded-opentype"), url(../fonts/ProximaNova.woff) format("woff"), url(../fonts/ProximaNova.ttf) format("truetype");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaLight.eot);
    src: url(../fonts/ProximaNovaLight.eot) format("embedded-opentype"), url(../fonts/ProximaNovaLight.woff) format("woff"), url(../fonts/ProximaNovaLight.ttf) format("truetype");
    font-weight: 300;
    font-style: normal
}

@font-face {
    font-family: ProximaNova;
    src: url(../fonts/ProximaNovaBold.eot);
    src: url(../fonts/ProximaNovaBold.eot) format("embedded-opentype"), url(../fonts/ProximaNovaBold.woff) format("woff"), url(../fonts/ProximaNovaBold.ttf) format("truetype");
    font-weight: 700;
    font-style: normal
}