input, textarea {
  border: none;
  outline: none; }

@font-face {
  font-family: Gilroy;
  src: url(../fonts/Gilroy.eot);
  src: url(../fonts/Gilroy.eot) format("embedded-opentype"), url(../fonts/Gilroy.woff) format("woff"), url(../fonts/Gilroy.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyUltraLight.eot);
  src: url(../fonts/GilroyUltraLight.eot) format("embedded-opentype"), url(../fonts/GilroyUltraLight.woff) format("woff"), url(../fonts/GilroyUltraLight.ttf) format("truetype");
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyLight.eot);
  src: url(../fonts/GilroyLight.eot) format("embedded-opentype"), url(../fonts/GilroyLight.woff) format("woff"), url(../fonts/GilroyLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyMedium.eot);
  src: url(../fonts/GilroyMedium.eot) format("embedded-opentype"), url(../fonts/GilroyMedium.woff) format("woff"), url(../fonts/GilroyMedium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: Gilroy;
  src: url(../fonts/GilroyBold.eot);
  src: url(../fonts/GilroyBold.eot) format("embedded-opentype"), url(../fonts/GilroyBold.woff) format("woff"), url(../fonts/GilroyBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNova.eot);
  src: url(../fonts/ProximaNova.eot) format("embedded-opentype"), url(../fonts/ProximaNova.woff) format("woff"), url(../fonts/ProximaNova.ttf) format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaLight.eot);
  src: url(../fonts/ProximaNovaLight.eot) format("embedded-opentype"), url(../fonts/ProximaNovaLight.woff) format("woff"), url(../fonts/ProximaNovaLight.ttf) format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: ProximaNova;
  src: url(../fonts/ProximaNovaBold.eot);
  src: url(../fonts/ProximaNovaBold.eot) format("embedded-opentype"), url(../fonts/ProximaNovaBold.woff) format("woff"), url(../fonts/ProximaNovaBold.ttf) format("truetype");
  font-weight: 700;
  font-style: normal; }

.clearfix:before {
  content: " ";
  display: table; }

.clearfix:after {
  content: " ";
  display: table;
  clear: both; }

.clearfix {
  *zoom: 1; }

@-webkit-keyframes loaderOne {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes loaderOne {
  0% {
    opacity: 0; }
  20% {
    opacity: 1; }
  40% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes loaderTwo {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes loaderTwo {
  0% {
    opacity: 0; }
  40% {
    opacity: 1; }
  60% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes loaderThree {
  0% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes loaderThree {
  0% {
    opacity: 0; }
  60% {
    opacity: 1; }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@media only screen and (max-width: 1279px) {
  .mfs--1 {
    font-size: 1px !important;
    line-height: 5px !important; }
  .mfs--2 {
    font-size: 2px !important;
    line-height: 5px !important; }
  .mfs--3 {
    font-size: 3px !important;
    line-height: 5px !important; }
  .mfs--4 {
    font-size: 4px !important;
    line-height: 5px !important; }
  .mfs--5 {
    font-size: 5px !important;
    line-height: 5px !important; }
  .mfs--6 {
    font-size: 6px !important;
    line-height: 8px !important; }
  .mfs--7 {
    font-size: 7px !important;
    line-height: 9px !important; }
  .mfs--8 {
    font-size: 8px !important;
    line-height: 10px !important; }
  .mfs--9 {
    font-size: 9px !important;
    line-height: 11px !important; }
  .mfs--10 {
    font-size: 10px !important;
    line-height: 12px !important; }
  .mfs--11 {
    font-size: 11px !important;
    line-height: 13px !important; }
  .mfs--12 {
    font-size: 12px !important;
    line-height: 14px !important; }
  .mfs--13 {
    font-size: 13px !important;
    line-height: 15px !important; }
  .mfs--14 {
    font-size: 14px !important;
    line-height: 16px !important; }
  .mfs--15 {
    font-size: 15px !important;
    line-height: 17px !important; }
  .mfs--16 {
    font-size: 16px !important;
    line-height: 18px !important; }
  .mfs--17 {
    font-size: 17px !important;
    line-height: 19px !important; }
  .mfs--18 {
    font-size: 18px !important;
    line-height: 20px !important; }
  .mfs--19 {
    font-size: 19px !important;
    line-height: 21px !important; }
  .mfs--20 {
    font-size: 20px !important;
    line-height: 22px !important; }
  .mfs--21 {
    font-size: 21px !important;
    line-height: 23px !important; }
  .mfs--22 {
    font-size: 22px !important;
    line-height: 24px !important; }
  .mfs--23 {
    font-size: 23px !important;
    line-height: 25px !important; }
  .mfs--24 {
    font-size: 24px !important;
    line-height: 26px !important; }
  .mfs--25 {
    font-size: 25px !important;
    line-height: 27px !important; }
  .mfs--26 {
    font-size: 26px !important;
    line-height: 28px !important; }
  .mfs--27 {
    font-size: 27px !important;
    line-height: 29px !important; }
  .mfs--28 {
    font-size: 28px !important;
    line-height: 30px !important; }
  .mfs--29 {
    font-size: 29px !important;
    line-height: 31px !important; }
  .mfs--30 {
    font-size: 30px !important;
    line-height: 32px !important; }
  .mfs--31 {
    font-size: 31px !important;
    line-height: 33px !important; }
  .mfs--32 {
    font-size: 32px !important;
    line-height: 34px !important; }
  .mfs--33 {
    font-size: 33px !important;
    line-height: 35px !important; }
  .mfs--34 {
    font-size: 34px !important;
    line-height: 36px !important; }
  .mfs--35 {
    font-size: 35px !important;
    line-height: 37px !important; }
  .mfs--36 {
    font-size: 36px !important;
    line-height: 38px !important; }
  .mfs--37 {
    font-size: 37px !important;
    line-height: 39px !important; }
  .mfs--38 {
    font-size: 38px !important;
    line-height: 40px !important; }
  .mfs--39 {
    font-size: 39px !important;
    line-height: 41px !important; }
  .mfs--40 {
    font-size: 40px !important;
    line-height: 42px !important; }
  .mfs--41 {
    font-size: 41px !important;
    line-height: 43px !important; }
  .mfs--42 {
    font-size: 42px !important;
    line-height: 44px !important; }
  .mfs--43 {
    font-size: 43px !important;
    line-height: 45px !important; }
  .mfs--44 {
    font-size: 44px !important;
    line-height: 46px !important; }
  .mfs--45 {
    font-size: 45px !important;
    line-height: 47px !important; }
  .mfs--46 {
    font-size: 46px !important;
    line-height: 48px !important; }
  .mfs--47 {
    font-size: 47px !important;
    line-height: 49px !important; }
  .mfs--48 {
    font-size: 48px !important;
    line-height: 50px !important; }
  .mfs--49 {
    font-size: 49px !important;
    line-height: 51px !important; }
  .mfs--50 {
    font-size: 50px !important;
    line-height: 52px !important; }
  .mfs--51 {
    font-size: 51px !important;
    line-height: 53px !important; }
  .mfs--52 {
    font-size: 52px !important;
    line-height: 54px !important; }
  .mfs--53 {
    font-size: 53px !important;
    line-height: 55px !important; }
  .mfs--54 {
    font-size: 54px !important;
    line-height: 56px !important; }
  .mfs--55 {
    font-size: 55px !important;
    line-height: 57px !important; }
  .mfs--56 {
    font-size: 56px !important;
    line-height: 58px !important; }
  .mfs--57 {
    font-size: 57px !important;
    line-height: 59px !important; }
  .mfs--58 {
    font-size: 58px !important;
    line-height: 60px !important; }
  .mfs--59 {
    font-size: 59px !important;
    line-height: 61px !important; }
  .mfs--60 {
    font-size: 60px !important;
    line-height: 62px !important; }
  .mfs--61 {
    font-size: 61px !important;
    line-height: 63px !important; }
  .mfs--62 {
    font-size: 62px !important;
    line-height: 64px !important; }
  .mfs--63 {
    font-size: 63px !important;
    line-height: 65px !important; }
  .mfs--64 {
    font-size: 64px !important;
    line-height: 66px !important; }
  .mfs--65 {
    font-size: 65px !important;
    line-height: 67px !important; }
  .mfs--66 {
    font-size: 66px !important;
    line-height: 68px !important; }
  .mfs--67 {
    font-size: 67px !important;
    line-height: 69px !important; }
  .mfs--68 {
    font-size: 68px !important;
    line-height: 70px !important; }
  .mfs--69 {
    font-size: 69px !important;
    line-height: 71px !important; }
  .mfs--70 {
    font-size: 70px !important;
    line-height: 72px !important; }
  .mfs--71 {
    font-size: 71px !important;
    line-height: 73px !important; }
  .mfs--72 {
    font-size: 72px !important;
    line-height: 74px !important; }
  .mfs--73 {
    font-size: 73px !important;
    line-height: 75px !important; }
  .mfs--74 {
    font-size: 74px !important;
    line-height: 76px !important; }
  .mfs--75 {
    font-size: 75px !important;
    line-height: 77px !important; }
  .mfs--76 {
    font-size: 76px !important;
    line-height: 78px !important; }
  .mfs--77 {
    font-size: 77px !important;
    line-height: 79px !important; }
  .mfs--78 {
    font-size: 78px !important;
    line-height: 80px !important; }
  .mfs--79 {
    font-size: 79px !important;
    line-height: 81px !important; }
  .mfs--80 {
    font-size: 80px !important;
    line-height: 82px !important; }
  .mfs--81 {
    font-size: 81px !important;
    line-height: 83px !important; }
  .mfs--82 {
    font-size: 82px !important;
    line-height: 84px !important; }
  .mfs--83 {
    font-size: 83px !important;
    line-height: 85px !important; }
  .mfs--84 {
    font-size: 84px !important;
    line-height: 86px !important; }
  .mfs--85 {
    font-size: 85px !important;
    line-height: 87px !important; }
  .mfs--86 {
    font-size: 86px !important;
    line-height: 88px !important; }
  .mfs--87 {
    font-size: 87px !important;
    line-height: 89px !important; }
  .mfs--88 {
    font-size: 88px !important;
    line-height: 90px !important; }
  .mfs--89 {
    font-size: 89px !important;
    line-height: 91px !important; }
  .mfs--90 {
    font-size: 90px !important;
    line-height: 92px !important; }
  .mfs--91 {
    font-size: 91px !important;
    line-height: 93px !important; }
  .mfs--92 {
    font-size: 92px !important;
    line-height: 94px !important; }
  .mfs--93 {
    font-size: 93px !important;
    line-height: 95px !important; }
  .mfs--94 {
    font-size: 94px !important;
    line-height: 96px !important; }
  .mfs--95 {
    font-size: 95px !important;
    line-height: 97px !important; }
  .mfs--96 {
    font-size: 96px !important;
    line-height: 98px !important; }
  .mfs--97 {
    font-size: 97px !important;
    line-height: 99px !important; }
  .mfs--98 {
    font-size: 98px !important;
    line-height: 100px !important; }
  .mfs--99 {
    font-size: 99px !important;
    line-height: 101px !important; }
  .mfs--100 {
    font-size: 100px !important;
    line-height: 102px !important; }
  .mfs--101 {
    font-size: 101px !important;
    line-height: 103px !important; }
  .mfs--102 {
    font-size: 102px !important;
    line-height: 104px !important; }
  .mfs--103 {
    font-size: 103px !important;
    line-height: 105px !important; }
  .mfs--104 {
    font-size: 104px !important;
    line-height: 106px !important; }
  .mfs--105 {
    font-size: 105px !important;
    line-height: 107px !important; }
  .mfs--106 {
    font-size: 106px !important;
    line-height: 108px !important; }
  .mfs--107 {
    font-size: 107px !important;
    line-height: 109px !important; }
  .mfs--108 {
    font-size: 108px !important;
    line-height: 110px !important; }
  .mfs--109 {
    font-size: 109px !important;
    line-height: 111px !important; }
  .mfs--110 {
    font-size: 110px !important;
    line-height: 112px !important; }
  .mfs--111 {
    font-size: 111px !important;
    line-height: 113px !important; }
  .mfs--112 {
    font-size: 112px !important;
    line-height: 114px !important; }
  .mfs--113 {
    font-size: 113px !important;
    line-height: 115px !important; }
  .mfs--114 {
    font-size: 114px !important;
    line-height: 116px !important; }
  .mfs--115 {
    font-size: 115px !important;
    line-height: 117px !important; }
  .mfs--116 {
    font-size: 116px !important;
    line-height: 118px !important; }
  .mfs--117 {
    font-size: 117px !important;
    line-height: 119px !important; }
  .mfs--118 {
    font-size: 118px !important;
    line-height: 120px !important; }
  .mfs--119 {
    font-size: 119px !important;
    line-height: 121px !important; }
  .mfs--120 {
    font-size: 120px !important;
    line-height: 122px !important; }
  .mfs--121 {
    font-size: 121px !important;
    line-height: 123px !important; }
  .mfs--122 {
    font-size: 122px !important;
    line-height: 124px !important; }
  .mfs--123 {
    font-size: 123px !important;
    line-height: 125px !important; }
  .mfs--124 {
    font-size: 124px !important;
    line-height: 126px !important; }
  .mfs--125 {
    font-size: 125px !important;
    line-height: 127px !important; }
  .mfs--126 {
    font-size: 126px !important;
    line-height: 128px !important; }
  .mfs--127 {
    font-size: 127px !important;
    line-height: 129px !important; }
  .mfs--128 {
    font-size: 128px !important;
    line-height: 130px !important; }
  .mfs--129 {
    font-size: 129px !important;
    line-height: 131px !important; }
  .mfs--130 {
    font-size: 130px !important;
    line-height: 132px !important; }
  .mfs--131 {
    font-size: 131px !important;
    line-height: 133px !important; }
  .mfs--132 {
    font-size: 132px !important;
    line-height: 134px !important; }
  .mfs--133 {
    font-size: 133px !important;
    line-height: 135px !important; }
  .mfs--134 {
    font-size: 134px !important;
    line-height: 136px !important; }
  .mfs--135 {
    font-size: 135px !important;
    line-height: 137px !important; }
  .mfs--136 {
    font-size: 136px !important;
    line-height: 138px !important; }
  .mfs--137 {
    font-size: 137px !important;
    line-height: 139px !important; }
  .mfs--138 {
    font-size: 138px !important;
    line-height: 140px !important; }
  .mfs--139 {
    font-size: 139px !important;
    line-height: 141px !important; }
  .mfs--140 {
    font-size: 140px !important;
    line-height: 142px !important; }
  .mfs--141 {
    font-size: 141px !important;
    line-height: 143px !important; }
  .mfs--142 {
    font-size: 142px !important;
    line-height: 144px !important; }
  .mfs--143 {
    font-size: 143px !important;
    line-height: 145px !important; }
  .mfs--144 {
    font-size: 144px !important;
    line-height: 146px !important; }
  .mfs--145 {
    font-size: 145px !important;
    line-height: 147px !important; }
  .mfs--146 {
    font-size: 146px !important;
    line-height: 148px !important; }
  .mfs--147 {
    font-size: 147px !important;
    line-height: 149px !important; }
  .mfs--148 {
    font-size: 148px !important;
    line-height: 150px !important; }
  .mfs--149 {
    font-size: 149px !important;
    line-height: 151px !important; }
  .mfs--150 {
    font-size: 150px !important;
    line-height: 152px !important; }
  .mfs--151 {
    font-size: 151px !important;
    line-height: 153px !important; }
  .mfs--152 {
    font-size: 152px !important;
    line-height: 154px !important; }
  .mfs--153 {
    font-size: 153px !important;
    line-height: 155px !important; }
  .mfs--154 {
    font-size: 154px !important;
    line-height: 156px !important; }
  .mfs--155 {
    font-size: 155px !important;
    line-height: 157px !important; }
  .mfs--156 {
    font-size: 156px !important;
    line-height: 158px !important; }
  .mfs--157 {
    font-size: 157px !important;
    line-height: 159px !important; }
  .mfs--158 {
    font-size: 158px !important;
    line-height: 160px !important; }
  .mfs--159 {
    font-size: 159px !important;
    line-height: 161px !important; }
  .mfs--160 {
    font-size: 160px !important;
    line-height: 162px !important; }
  .mfs--161 {
    font-size: 161px !important;
    line-height: 163px !important; }
  .mfs--162 {
    font-size: 162px !important;
    line-height: 164px !important; }
  .mfs--163 {
    font-size: 163px !important;
    line-height: 165px !important; }
  .mfs--164 {
    font-size: 164px !important;
    line-height: 166px !important; }
  .mfs--165 {
    font-size: 165px !important;
    line-height: 167px !important; }
  .mfs--166 {
    font-size: 166px !important;
    line-height: 168px !important; }
  .mfs--167 {
    font-size: 167px !important;
    line-height: 169px !important; }
  .mfs--168 {
    font-size: 168px !important;
    line-height: 170px !important; }
  .mfs--169 {
    font-size: 169px !important;
    line-height: 171px !important; }
  .mfs--170 {
    font-size: 170px !important;
    line-height: 172px !important; } }

.state--hidden {
  visibility: none !important;
  opacity: 0 !important; }

.feedback__bar--active {
  -webkit-transform: translate3d(0, 90px, 0) !important;
          transform: translate3d(0, 90px, 0) !important;
  opacity: 1 !important;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.loader--active {
  opacity: 1 !important;
  pointer-events: all !important; }

.checkbox--active .label-checkbox {
  background: url("../img/check.png") no-repeat center, white !important;
  background-size: 80% !important; }

.checkbox--inactive .label-checkbox {
  border-color: red !important; }

.preloader__scale--out {
  -webkit-transition: all .7s ease;
  transition: all .7s ease; }

.preloader__wrapper--out {
  opacity: 0;
  visibility: hidden; }

a,
a:hover {
  color: #121212; }

ul li {
  list-style: none; }

blockquote,
body,
code,
dd,
div,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0; }

input,
textarea {
  outline: none;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 2px solid #fff;
  color: #fff; }

input {
  height: 50px;
  font: 16px/48px Gilroy; }

input.error {
  border-color: #ff7a5f;
  color: #ff7a5f; }

.error_text {
  position: absolute;
  left: 0;
  bottom: -30px;
  font: 14px/1 Gilroy;
  color: #ff7a5f;
  opacity: 0;
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.error_text.error_text--active {
  opacity: 1; }

input[type=button],
input[type=submit] {
  width: 250px;
  background: #ff7a5f;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #fff !important;
  text-align: center; }

::-webkit-input-placeholder {
  color: #fff; }

:-moz-placeholder,
::-moz-placeholder {
  color: #fff; }

:-ms-input-placeholder {
  color: #fff; }

.error::-webkit-input-placeholder {
  color: #ff7a5f; }

.error:-moz-placeholder,
.error::-moz-placeholder {
  color: #ff7a5f; }

.error:-ms-input-placeholder {
  color: #ff7a5f; }

h1 {
  font: 700 50px/1.2 ProximaNova;
  color: #fff;
  margin-bottom: 10px; }

h1,
h2 {
  text-transform: uppercase; }

h2 {
  font: 700 28px/1.2 ProximaNova;
  margin-bottom: 15px; }

b {
  font-weight: 700; }

body,
html {
  height: auto;
  font: 300 16px/20px ProximaNova;
  letter-spacing: .05em;
  color: #121212;
  overflow: hidden; }

body {
  min-height: 100%;
  background: #fff; }

#bd {
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  position: relative;
  transition: all .5s ease;
  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  z-index: 5;
  will-change: transform; }

.bd-accommodation {
  height: auto !important;
  background: #fff; }

#bd .empty_box {
  height: 60px;
  clear: both; }

#hd {
  height: 86px;
  width: 100%;
  position: absolute;
  top: 0;
  font: 500 14px/1 Gilroy;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: .02em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  z-index: 1003;
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

#hd.hd--fixed {
  transform: translate3d(0, 86px, 0);
  -webkit-transform: translate3d(0, 86px, 0);
  background: #000; }

#hd.hd--transparent {
  opacity: 0; }

#hd .logo {
  position: absolute;
  left: 74px;
  top: 18px; }

#hd .menuBtn {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  color: #fff; }

a:link {
  color: #fff; }

#hd .phone {
  position: absolute;
  right: 63px;
  top: 0;
  line-height: 86px;
  color: #fff !important; }

#hd .phone .glow {
  color: #ff7a5f; }

#ft {
  height: 60px;
  margin: 0 auto;
  padding: 3px 32px 0;
  font: 12px/1 Gilroy;
  color: #6d7183;
  text-transform: uppercase;
  letter-spacing: .02em;
  position: relative;
  z-index: 27;
  overflow: hidden;
  line-height: 60px; }

#ft .creator {
  position: absolute;
  right: 32px;
  top: 0; }

#ft .soc {
  position: absolute;
  right: 84px;
  top: 20px;
  font-size: 0;
  line-height: 0; }

#ft .soc li {
  float: left;
  margin-left: 16px; }

#ft .soc li a svg {
  fill: #76798B;
  width: 14px;
  height: 22px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.menu_main_box .soc li a svg {
  fill: white;
  width: 14px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

#ft .creator svg {
  position: relative;
  top: 7px;
  width: 27px;
  fill: #76798B;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

#ft .creator svg:hover {
  fill: #1371AB; }

#ft .icon_dots {
  position: absolute;
  left: -webkit-calc(50% - 10px) !important;
  left: calc(50% - 10px) !important;
  top: 0 !important;
  margin-left: -11px !important;
  width: 40px !important;
  height: 100% !important;
  background: url(../img/icon_dot_ft.png) 50% no-repeat;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -ms-transition: all .3s ease; }

#ft.ft_main {
  line-height: 60px;
  padding-top: 0;
  position: relative;
  height: 60px; }

#ft.ft_main .icon_dots {
  top: 0; }

#ft.ft_contacts {
  line-height: 60px;
  padding-top: 0;
  position: relative;
  height: 60px; }

#ft.ft_contacts .icon_dots {
  top: 0; }

#ft.ft_contacts a svg {
  fill: white; }

#ft.ft_contacts .soc svg {
  fill: white !important; }

/*#bd .contacts_wrap {
    width: 29%;
    left: 37%;
}*/
#bd .head_page_bg.contacts {
  pointer-events: none; }

#bd .head_page {
  position: relative; }

#bd .head_page_bg.head_page_shadow:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  background: rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0; }

#bd.vertical_line_box {
  height: -webkit-calc(100% + 60px);
  height: calc(100% + 60px); }

#ft.ft_contacts {
  line-height: 40px;
  padding-top: 0;
  color: #fff; }

#ft.ft_contacts .soc {
  top: 12px; }

#ft.ft_contacts .icon_dots {
  top: 15px; }

.menu_main_box {
  position: fixed;
  left: 0;
  top: -webkit-calc(-110% - 650px);
  top: calc(-110% - 650px);
  width: 100%;
  height: 650px;
  font: 16px/1 Gilroy;
  letter-spacing: .02em;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  z-index: 9999;
  -webkit-transition: -webkit-box-shadow .3s ease;
  transition: -webkit-box-shadow .3s ease;
  transition: box-shadow .3s ease;
  transition: box-shadow .3s ease, -webkit-box-shadow .3s ease;
  -webkit-transition: box-shadow .3s ease; }

.menu_main_box.menu--active {
  -webkit-box-shadow: 0 28px 62px rgba(51, 57, 74, 0.33), 0 21px 59px rgba(42, 45, 52, 0.33);
          box-shadow: 0 28px 62px rgba(51, 57, 74, 0.33), 0 21px 59px rgba(42, 45, 52, 0.33); }

.menu_main_box.menu--active ol li {
  opacity: 1;
  -webkit-transform: translateX(0);
  -ms-transform: translateX(0);
      transform: translateX(0); }

.menu_main_box ol li {
  opacity: 0;
  -webkit-transform: translate3d(-70px, 0, 0);
  transform: translate3d(-70px, 0, 0);
  -webkit-transition: opacity .2s ease, -webkit-transform .2s ease .2s;
  transition: opacity .2s ease, -webkit-transform .2s ease .2s;
  transition: opacity .2s ease, transform .2s ease .2s;
  transition: opacity .2s ease, transform .2s ease .2s, -webkit-transform .2s ease .2s; }

.menu_main_box.menu--active ol li:first-of-type {
  -webkit-transition: opacity .3s ease, -webkit-transform .3s ease .3s;
  transition: opacity .3s ease, -webkit-transform .3s ease .3s;
  transition: transform .3s ease .3s, opacity .3s ease;
  transition: transform .3s ease .3s, opacity .3s ease, -webkit-transform .3s ease .3s; }

.menu_main_box.menu--active ol li:nth-of-type(2) {
  -webkit-transition: opacity .3s ease .4s, -webkit-transform .3s ease .4s;
  transition: opacity .3s ease .4s, -webkit-transform .3s ease .4s;
  transition: transform .3s ease .4s, opacity .3s ease .4s;
  transition: transform .3s ease .4s, opacity .3s ease .4s, -webkit-transform .3s ease .4s; }

.menu_main_box.menu--active ol li:nth-of-type(3) {
  -webkit-transition: opacity .3s ease .5s, -webkit-transform .3s ease .5s;
  transition: opacity .3s ease .5s, -webkit-transform .3s ease .5s;
  transition: transform .3s ease .5s, opacity .3s ease .5s;
  transition: transform .3s ease .5s, opacity .3s ease .5s, -webkit-transform .3s ease .5s; }

.menu_main_box.menu--active ol li:nth-of-type(4) {
  -webkit-transition: opacity .3s ease .6s, -webkit-transform .3s ease .6s;
  transition: opacity .3s ease .6s, -webkit-transform .3s ease .6s;
  transition: transform .3s ease .6s, opacity .3s ease .6s;
  transition: transform .3s ease .6s, opacity .3s ease .6s, -webkit-transform .3s ease .6s; }

.menu_main_box.menu--active ol li:nth-of-type(5) {
  -webkit-transition: opacity .3s ease .7s, -webkit-transform .3s ease .7s;
  transition: opacity .3s ease .7s, -webkit-transform .3s ease .7s;
  transition: transform .3s ease .7s, opacity .3s ease .7s;
  transition: transform .3s ease .7s, opacity .3s ease .7s, -webkit-transform .3s ease .7s; }

.menu_main_box.menu--active ol li:nth-of-type(6) {
  -webkit-transition: opacity .3s ease .8s, -webkit-transform .3s ease .8s;
  transition: opacity .3s ease .8s, -webkit-transform .3s ease .8s;
  transition: transform .3s ease .8s, opacity .3s ease .8s;
  transition: transform .3s ease .8s, opacity .3s ease .8s, -webkit-transform .3s ease .8s; }

.menu_main_box.menu--active ol li:nth-of-type(7) {
  -webkit-transition: opacity .3s ease .9s, -webkit-transform .3s ease .9s;
  transition: opacity .3s ease .9s, -webkit-transform .3s ease .9s;
  transition: transform .3s ease .9s, opacity .3s ease .9s;
  transition: transform .3s ease .9s, opacity .3s ease .9s, -webkit-transform .3s ease .9s; }

.menu_main_box.menu--active ol li:nth-of-type(8) {
  -webkit-transition: opacity .3s ease 1s, -webkit-transform .3s ease 1s;
  transition: opacity .3s ease 1s, -webkit-transform .3s ease 1s;
  transition: transform .3s ease 1s, opacity .3s ease 1s;
  transition: transform .3s ease 1s, opacity .3s ease 1s, -webkit-transform .3s ease 1s; }

.menu_main_box.menu--active ol li:nth-of-type(9) {
  -webkit-transition: opacity .3s ease 1.1s, -webkit-transform .3s ease 1.1s;
  transition: opacity .3s ease 1.1s, -webkit-transform .3s ease 1.1s;
  transition: transform .3s ease 1.1s, opacity .3s ease 1.1s;
  transition: transform .3s ease 1.1s, opacity .3s ease 1.1s, -webkit-transform .3s ease 1.1s; }

.menu_main_box:before {
  content: "";
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #d7dee9;
  opacity: .97; }

.menu_main_box a {
  color: #000;
  text-decoration: none; }

.menu_main_box a:hover {
  color: #ff7a5f !important; }

.menu_main_box .close {
  top: 35px;
  font-weight: 500;
  color: #383f4d;
  text-transform: uppercase; }

.menu_main_box .change_lang,
.menu_main_box .close {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  font-size: 14px; }

.menu_main_box .change_lang {
  bottom: 35px;
  color: #ff7a5f; }

.menu_main_box .change_lang .active {
  color: #ff7a5f; }

.menu_main_box .phone {
  position: absolute;
  left: 15px;
  top: 30px;
  font-size: 14px;
  display: none; }

.menu_main_box .phone .glow {
  color: #ff7a5f; }

.menu_main_box .soc {
  position: absolute;
  left: 15px;
  bottom: 20px;
  font-size: 0;
  line-height: 0;
  display: none; }

.menu_main_box .soc li {
  float: left;
  margin-right: 16px; }

.menu_main {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 360px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  text-transform: uppercase;
  counter-reset: a; }

.menu_main li {
  list-style: none;
  padding-bottom: 7px;
  border-bottom: 1px solid transparent;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.menu_main li:before {
  content: "0" counter(a);
  counter-increment: a 1;
  position: absolute;
  right: 0;
  top: 0;
  color: #000;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.menu_main li + li {
  margin-top: 30px; }

.menu_main .active,
.menu_main li:hover {
  border-color: #ff7a5f; }

.menu_main .active a,
.menu_main li:hover a {
  color: #383f4d;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.menu_main .active:before,
.menu_main li:hover:before {
  color: #ff7a5f; }

.container {
  max-width: 1050px;
  width: 67.8%;
  margin: 0 auto;
  padding: 0 0;
  z-index: 3; }

.container.news__wrapper {
  width: 67.6%;
  padding: 0 3%; }

.container,
.row {
  position: relative; }

.row p {
  margin: 0; }

.row p + p {
  margin-top: 22px; }

.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  background: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  font-size: 12px;
  line-height: 1.2;
  color: #fff;
  text-transform: uppercase; }

.breadcrumb > li + li:before {
  padding: 0 2px;
  color: #ff7a5f; }

.breadcrumb a {
  color: #ff7a5f; }

.btn {
  width: 250px;
  height: 50px;
  padding: 0;
  background: #ff7a5f;
  -webkit-border-radius: 0;
          border-radius: 0;
  color: #fff !important;
  font-size: 16px;
  line-height: 50px;
  position: relative;
  z-index: 2; }

.btn:after {
  content: "";
  position: absolute;
  left: 15px;
  top: 0;
  width: -webkit-calc(100% - 30px);
  width: calc(100% - 30px);
  height: 100%;
  -webkit-box-shadow: 0 15px 30px rgba(255, 122, 95, 0.45);
          box-shadow: 0 15px 30px rgba(255, 122, 95, 0.45); }

.ui-helper-hidden-accessible {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

.vertical_line_box {
  position: fixed;
  left: 50%;
  top: 0;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  width: 66%;
  height: 120%;
  border-left: 1px solid rgba(154, 157, 167, 0.2);
  border-right: 1px solid rgba(154, 157, 167, 0.2);
  z-index: 100;
  pointer-events: none; }

.vertical_line_box:not(.vertical_line_box_main) {
  max-width: 1050px;
  width: 68%; }

#bd.shadow--on {
  -webkit-box-shadow: 0 0 72px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0 0 72px 20px rgba(0, 0, 0, 0.4); }

.vertical_line_1 {
  left: 0;
  background: rgba(154, 157, 167, 0.3); }

.vertical_line_1,
.vertical_line_2 {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%; }

.vertical_line_2 {
  left: -webkit-calc(25% - 1px);
  left: calc(25% - 1px);
  background: rgba(154, 157, 167, 0.1); }

.vertical_line_3 {
  left: 50%;
  background: rgba(154, 157, 167, 0.3); }

.vertical_line_3,
.vertical_line_4 {
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%; }

.vertical_line_4 {
  left: 75%;
  background: rgba(154, 157, 167, 0.1); }

.vertical_line_5 {
  position: absolute;
  left: 100%;
  top: 0;
  width: 1px;
  height: 100%;
  background: rgba(154, 157, 167, 0.3); }

.vertical_line_box_main .vertical_line_1,
.vertical_line_box_main .vertical_line_3,
.vertical_line_box_main .vertical_line_5 {
  background: rgba(154, 157, 167, 0.5); }

.vertical_line_box_main .vertical_line_2,
.vertical_line_box_main .vertical_line_4 {
  background: rgba(154, 157, 167, 0.3); }

.horizontal_line {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  height: 1px;
  background: rgba(222, 220, 224, 0.5);
  z-index: -1; }

.bd-accommodation .horizontal_line, .bd-smi .horizontal_line {
  z-index: 1; }

.horizontal_line.pull-right {
  float: none;
  left: 50%; }

.horizontal_line .icon_plus {
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/icon_plus.png) 50% no-repeat #ff7a5f;
  width: 24px;
  height: 24px;
  margin: -12px 0 0 -12px;
  -webkit-border-radius: 12px;
          border-radius: 12px; }

.horizontal_line .icon_plus + .icon_plus {
  left: 100%; }

.horizontal_line .icon_plus_0 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34px;
  height: 34px;
  margin: -17px 0 0 -17px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  opacity: .7; }

.horizontal_line .icon_plus_1 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 68px;
  height: 68px;
  margin: -34px 0 0 -34px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 34px;
          border-radius: 34px; }

.horizontal_line .icon_plus_2 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 156px;
  height: 156px;
  margin: -78px 0 0 -78px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 78px;
          border-radius: 78px;
  opacity: .5; }

.horizontal_line .icon_plus_3 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 302px;
  height: 302px;
  margin: -151px 0 0 -151px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 151px;
          border-radius: 151px;
  opacity: .3; }

.horizontal_line .icon_plus_4 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 120px;
  height: 120px;
  margin: -60px 0 0 -60px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  opacity: .3; }

.horizontal_line .icon_plus_5 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 228px;
  height: 228px;
  margin: -114px 0 0 -114px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 114px;
          border-radius: 114px;
  opacity: .3; }

.horizontal_line .glow {
  border-color: #ff7a5f; }

.head_page {
  max-width: 977px;
  width: 68%;
  height: 354px;
  margin: 0 auto 86px;
  padding: 130px 25px 0;
  position: relative;
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  -webkit-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: flex-end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
          align-items: flex-start; }

.head_page h1, .head_page ol {
  opacity: 1; }

.parallax-el {
  height: 440px;
  overflow: hidden;
  position: relative;
  min-height: 85px;
  z-index: -1; }

.container-fluid.under-parallax {
  background: #fff;
  z-index: 9999;
  padding-top: 90px;
  padding-left: 0;
  padding-right: 0;
  overflow: hidden; }

.head_page_bg {
  position: absolute;
  left: -5px;
  top: 0;
  width: 101%;
  height: 440px;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-shadow: 0 22px 40px rgba(51, 57, 74, 0.42);
          box-shadow: 0 22px 40px rgba(51, 57, 74, 0.42);
  z-index: -1;
  pointer-events: none; }

.head_page_bg .vertical_line_box {
  border-left-color: rgba(255, 255, 255, 0.2);
  border-right-color: rgba(255, 255, 255, 0.2); }

.vertical_line_box .icon_plus {
  position: absolute;
  left: 0;
  top: 118px;
  background: url(../img/icon_plus.png) 50% no-repeat;
  width: 8px;
  height: 8px;
  margin-left: -4px; }

.vertical_line_box .icon_plus.minus {
  background-image: url(../img/icon_minus.png); }

.vertical_line_box .icon_plus:nth-child(odd) {
  top: 400px; }

.vertical_line_box .icon_plus.icon_3,
.vertical_line_box .icon_plus.icon_4,
.vertical_line_box .icon_plus.icon_12 {
  left: 24.9%; }

.vertical_line_box .icon_plus.icon_5,
.vertical_line_box .icon_plus.icon_6,
.vertical_line_box .icon_plus.icon_13 {
  left: 50%; }

.vertical_line_box .icon_plus.icon_7,
.vertical_line_box .icon_plus.icon_8,
.vertical_line_box .icon_plus.icon_14 {
  left: 75.1%; }

.vertical_line_box .icon_plus.icon_9,
.vertical_line_box .icon_plus.icon_10,
.vertical_line_box .icon_plus.icon_15 {
  left: 100%; }

.vertical_line_box .icon_plus.icon_11,
.vertical_line_box .icon_plus.icon_12,
.vertical_line_box .icon_plus.icon_13,
.vertical_line_box .icon_plus.icon_14,
.vertical_line_box .icon_plus.icon_15 {
  top: 400px; }

.vertical_line_box_main .icon_plus.icon_11,
.vertical_line_box_main .icon_plus.icon_12,
.vertical_line_box_main .icon_plus.icon_13,
.vertical_line_box_main .icon_plus.icon_14,
.vertical_line_box_main .icon_plus.icon_15 {
  top: 54%; }

.head_page_bg.about {
  background-image: url(../img/head_page/about.jpg); }

.head_page_bg.main {
  height: -webkit-calc(100% - 66px);
  height: calc(100% - 66px);
  -webkit-box-shadow: none;
          box-shadow: none; }

.head_page_bg.contacts {
  height: 100%;
  -webkit-box-shadow: none;
          box-shadow: none; }

.head_page_bg.contacts .icon_plus:nth-child(odd) {
  bottom: 105px; }

.head_page_bg.smi {
  background-image: url(../img/head_page/smi.jpg); }

.head_page_bg.housing {
  background-image: url(../img/head_page/housing.jpg); }

.head_page_bg.prj {
  background-image: url(../img/head_page/prj.jpg); }

.head_page_bg.akkord {
  background-image: url(../img/head_page/akkord.jpg); }

.head_page_bg.Privera {
  background-image: url(../img/head_page/Privera.jpg); }

.head_page_bg.installation {
  background-image: url(../img/head_page/installation.jpg); }

.head_page_bg.news {
  background-image: url(../img/head_page/news.jpg); }

.head_page_bg.infrostr {
  background-image: url(../img/head_page/infrostr.jpg); }

.bg_main {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden; }

.main_page_wrap,
.mainSlide {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }

#video-wrapper {
  position: absolute;
  left: 0;
  right: 0;
  overflow: hidden;
  z-index: 99;
  width: 100vw;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px); }

#video-wrapper #video {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  min-height: 100vh;
  min-width: 110vw;
  width: auto;
  background: #191c23;
  display: block; }

.mainSlide .video__wrapper {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 99;
  position: relative;
  width: 100vw;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px);
  text-align: center; }

.mainSlide .video__wrapper > div {
  background: #191c23;
  z-index: 20;
  display: inline-block;
  -ms-transform: translateX(0);
      transform: translateX(0);
  -webkit-transform: translateX(0);
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden; }

.mainSlide .video__wrapper video {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  min-width: 100%;
  min-height: 100%;
  background: #191c23;
  display: block; }

.mainSlide .video__wrapper .video-2,
.mainSlide .video__wrapper .video-3,
.mainSlide .video__wrapper .video-4 {
  -ms-transform: translateX(100%);
      transform: translateX(100%);
  -webkit-transform: translateX(100%); }

.mainSlide .video__wrapper:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 50; }

.mainSlide_text_wrap {
  z-index: 99; }

.mainSlide .small .small_img {
  position: absolute;
  width: 100px;
  left: -108px;
  height: 100px;
  top: 50%;
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  -webkit-transform: translateY(-50%); }

.mainSlide .small .small_img img {
  position: absolute;
  top: 0;
  left: 0;
  margin-right: 14px; }

.mainSlide .small_img_3 {
  top: 14% !important; }

.shutter__wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

.shutter__wrapper--off .shutter {
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0); }

.shutter {
  background: #191c23;
  height: 100%;
  z-index: 99999;
  font-size: 0;
  margin: 0;
  position: absolute;
  top: 0;
  z-index: 999;
  -webkit-transform: scaleX(1);
      -ms-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
      -ms-transform-origin: left;
          transform-origin: left; }

.shutter__wrapper .shutter-1 {
  right: 0;
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.82, 1, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.22, 0.82, 1, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.82, 1, 1);
  transition: transform 0.4s cubic-bezier(0.22, 0.82, 1, 1), -webkit-transform 0.4s cubic-bezier(0.22, 0.82, 1, 1);
  width: 16.97666667%; }

.shutter__wrapper .shutter-2 {
  right: 16.98%;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.24, 0.84, 1, 1) 0.05s;
  transition: -webkit-transform 0.5s cubic-bezier(0.24, 0.84, 1, 1) 0.05s;
  transition: transform 0.5s cubic-bezier(0.24, 0.84, 1, 1) 0.05s;
  transition: transform 0.5s cubic-bezier(0.24, 0.84, 1, 1) 0.05s, -webkit-transform 0.5s cubic-bezier(0.24, 0.84, 1, 1) 0.05s;
  width: 16.47666667%; }

.shutter__wrapper .shutter-3 {
  right: 33.3822222222%;
  -webkit-transition: -webkit-transform 0.6s cubic-bezier(0.26, 0.86, 1, 1) 0.1s;
  transition: -webkit-transform 0.6s cubic-bezier(0.26, 0.86, 1, 1) 0.1s;
  transition: transform 0.6s cubic-bezier(0.26, 0.86, 1, 1) 0.1s;
  transition: transform 0.6s cubic-bezier(0.26, 0.86, 1, 1) 0.1s, -webkit-transform 0.6s cubic-bezier(0.26, 0.86, 1, 1) 0.1s;
  width: 16.57666667%; }

.shutter__wrapper .shutter-4 {
  right: 49.7988888888%;
  -webkit-transition: -webkit-transform 0.7s cubic-bezier(0.28, 0.88, 1, 1) 0.15s;
  transition: -webkit-transform 0.7s cubic-bezier(0.28, 0.88, 1, 1) 0.15s;
  transition: transform 0.7s cubic-bezier(0.28, 0.88, 1, 1) 0.15s;
  transition: transform 0.7s cubic-bezier(0.28, 0.88, 1, 1) 0.15s, -webkit-transform 0.7s cubic-bezier(0.28, 0.88, 1, 1) 0.15s;
  width: 16.67666667%; }

.shutter__wrapper .shutter-5 {
  right: 66.44444444444%;
  -webkit-transition: -webkit-transform 0.8s cubic-bezier(0.28, 0.88, 1, 1) 0.2s;
  transition: -webkit-transform 0.8s cubic-bezier(0.28, 0.88, 1, 1) 0.2s;
  transition: transform 0.8s cubic-bezier(0.28, 0.88, 1, 1) 0.2s;
  transition: transform 0.8s cubic-bezier(0.28, 0.88, 1, 1) 0.2s, -webkit-transform 0.8s cubic-bezier(0.28, 0.88, 1, 1) 0.2s;
  width: 16.37666667%; }

.shutter__wrapper .shutter-6 {
  right: 82.8%;
  width: 17.2%;
  -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.3, 0.9, 1, 1) 0.25s;
  transition: -webkit-transform 0.9s cubic-bezier(0.3, 0.9, 1, 1) 0.25s;
  transition: transform 0.9s cubic-bezier(0.3, 0.9, 1, 1) 0.25s;
  transition: transform 0.9s cubic-bezier(0.3, 0.9, 1, 1) 0.25s, -webkit-transform 0.9s cubic-bezier(0.3, 0.9, 1, 1) 0.25s; }

.mainSlide_item {
  height: 100%;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover; }

.mainSlide_text_wrap {
  position: absolute;
  bottom: 0;
  font: 700 30px/40px Gilroy;
  color: #fff;
  text-transform: uppercase;
  z-index: 999999;
  transition: all .5s ease;
  -webkit-transition: all .5s ease; }

.mainSlide_text {
  position: relative;
  bottom: -45px; }

.mainSlide_text .small {
  position: absolute;
  bottom: 247px;
  font-size: 100%;
  white-space: nowrap; }

.mainSlide_text .small > div {
  overflow: hidden; }

.mainSlide_text .small .small_img img {
  -webkit-transform: translateX(120%);
  -ms-transform: translateX(120%);
      transform: translateX(120%); }

.mainSlide_text .small_text > div {
  position: absolute;
  display: inline;
  left: -15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  z-index: 99999;
  opacity: 1;
  visibility: visible; }

.mainSlide_text .small_text > div span {
  padding-left: 23px; }

.mainSlide_text_wrap--multiple .big > span:first-of-type {
  margin-right: 0 !important; }

.mainSlide_text_wrap {
  left: 33.5%; }

.mainSlide_text .small .small_text {
  position: relative;
  left: 0;
  padding-right: 15px;
  height: 120px;
  width: 475px; }

.mainSlide_text .small .small_text span {
  display: block;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
      transform: translateX(-100%); }

.big > span {
  position: relative; }

.big .col-text {
  position: absolute;
  top: 100%;
  will-change: top; }

.mainSlide_text .small img {
  position: absolute;
  left: -120px;
  top: 50%;
  width: 100px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.mainSlide_text .big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: end;
  -ms-flex-align: end;
  -webkit-align-items: flex-end;
          align-items: flex-end;
  font-size: 266px;
  left: -59%;
  line-height: 250px;
  position: relative; }

.mainSlide_text .big > span {
  display: inline-block; }

.mainSlide_text .big .big__first {
  margin-right: 20px; }

.mainSlide_text .big .big__first,
.mainSlide_text .big .big__second {
  height: 245px;
  width: 143px;
  overflow: hidden; }

.mainSlide_text .big .big__third,
.mainSlide_text .big .big__fourth {
  height: 245px;
  width: 160px;
  overflow: hidden; }

.mainSlide_text .big .big__first span,
.mainSlide_text .big .big__second span,
.mainSlide_text .big .big__third span {
  display: block; }

.hot_news_wrap {
  position: absolute;
  left: 0;
  top: 111px;
  width: 100%;
  color: #fff;
  z-index: 999; }

.swiper {
  height: 100px; }

.swiper,
.swiper .swiper-container div {
  height: 200px !important; }

.swiper {
  padding-top: 10px; }

.swiper .slide {
  padding-left: 45px;
  padding-top: 4px; }

.swiper .slide-basis .slide-text-wrapper {
  overflow: hidden; }

.swiper .slide-one {
  width: 245px;
  position: absolute;
  left: 16.5%; }

.swiper .slide-two {
  width: 245px;
  position: absolute;
  left: 49.6%; }

.swiper .slide-three {
  display: inline;
  position: absolute;
  left: 83%; }

.swiper .slide h3 {
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.swiper .slide h3,
.swiper .slide p {
  color: #fff;
  font-family: Gilroy, Arial, "sans-serif"; }

.swiper .slide p {
  opacity: .7;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px; }

.swiper .slide small {
  color: #fff;
  font-family: Gilroy, Arial, "sans-serif";
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  position: absolute;
  top: 5px;
  left: -46px; }

.swiper .slide-basis:before {
  content: url(../img/icon-news.png);
  position: absolute;
  top: 10px;
  left: 0; }

.swiper .slide-more:before {
  content: url(../img/icon-news-more.png);
  position: absolute;
  top: 10px;
  left: -8px; }

.owl-carousel .owl-nav {
  position: absolute;
  left: 0;
  top: 5px;
  width: 100%;
  height: 1px; }

.hot_news_controls a {
  position: absolute;
  top: 0;
  width: 26px;
  height: 26px;
  background: #ff7a5f; }

.hot_news_controls a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  background: url(../img/icon_str_slide.svg) 50% no-repeat;
  width: 40px;
  height: 9px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
      transform-origin: center; }

.hot_news_controls .prev {
  left: 0; }

.hot_news_controls .prev:before {
  left: -11px;
  top: -4px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg); }

.hot_news_controls .next {
  right: 0; }

.hot_news_controls .next:before {
  left: -11px;
  top: 20px; }

.main_page_wrap.close_feedback {
  top: -42%; }

#hd.close_feedback {
  position: absolute;
  top: -45%;
  width: 100%; }

#ft .icon_dots.close_feedback {
  top: 0;
  height: 100%;
  background-image: url(../img/icon_dot_ft_1.png) !important; }

.feedback_form_wrap {
  width: 100%;
  height: auto;
  margin: 0;
  position: fixed;
  bottom: 30px;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear;
  overflow: hidden;
  resize: none; }

.feedback_form form {
  padding-bottom: 55px; }
  .feedback_form form .row {
    width: 100%;
    height: 400px; }
    .feedback_form form .row .form-row-2 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      width: 100%;
      height: auto; }
    .feedback_form form .row .form-row-3 {
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row wrap;
          -ms-flex-flow: row wrap;
              flex-flow: row wrap;
      -webkit-box-pack: end;
      -webkit-justify-content: flex-end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      width: 100%;
      height: auto;
      margin-top: 50px; }
      .feedback_form form .row .form-row-3 .submit {
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
      .feedback_form form .row .form-row-3 .submit__loader {
        width: 100%;
        height: 50px;
        position: absolute;
        background: #FF7A5F;
        left: 0;
        top: 0;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
            -ms-flex-pack: center;
                justify-content: center;
        pointer-events: none;
        opacity: 0;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-transition: opacity .3s ease;
        transition: opacity .3s ease; }
        .feedback_form form .row .form-row-3 .submit__loader span:nth-of-type(1) {
          -webkit-animation: loaderOne 1.1s linear infinite;
                  animation: loaderOne 1.1s linear infinite; }
        .feedback_form form .row .form-row-3 .submit__loader span:nth-of-type(2) {
          -webkit-animation: loaderTwo 1.1s linear infinite;
                  animation: loaderTwo 1.1s linear infinite; }
        .feedback_form form .row .form-row-3 .submit__loader span:nth-of-type(3) {
          -webkit-animation: loaderThree 1.1s linear infinite;
                  animation: loaderThree 1.1s linear infinite; }
        .feedback_form form .row .form-row-3 .submit__loader span {
          display: block;
          width: 7px;
          height: 7px;
          -webkit-border-radius: 100px;
                  border-radius: 100px;
          background: white;
          margin: 0 5px; }
      .feedback_form form .row .form-row-3 input:disabled {
        pointer-events: none;
        opacity: .7 !important; }
      .feedback_form form .row .form-row-3 .item:nth-of-type(1) {
        -webkit-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
                flex-basis: 30%;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-flow: row nowrap;
            -ms-flex-flow: row nowrap;
                flex-flow: row nowrap;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
            -ms-flex-align: center;
                align-items: center;
        margin-right: 5%; }
        .feedback_form form .row .form-row-3 .item:nth-of-type(1) input {
          visibility: hidden;
          opacity: 0;
          width: 0;
          height: 0; }
        .feedback_form form .row .form-row-3 .item:nth-of-type(1) label {
          font-family: Gilroy;
          font-size: 16px;
          font-weight: 400;
          color: white;
          padding-left: 25px; }
          .feedback_form form .row .form-row-3 .item:nth-of-type(1) label .label-checkbox {
            width: 14px;
            height: 14px;
            -webkit-align-self: flex-start;
                -ms-flex-item-align: start;
                    align-self: flex-start;
            margin-right: 10px;
            position: absolute;
            background: white;
            top: 6px;
            left: 0;
            outline: none;
            cursor: pointer;
            border: 1px solid transparent;
            -webkit-transition: border-color .3s ease;
            transition: border-color .3s ease; }
          .feedback_form form .row .form-row-3 .item:nth-of-type(1) label a {
            color: #ff7a5f;
            text-decoration: underline !important; }
      .feedback_form form .row .form-row-3 .item:nth-of-type(2) {
        -webkit-flex-basis: 30%;
            -ms-flex-preferred-size: 30%;
                flex-basis: 30%; }
        .feedback_form form .row .form-row-3 .item:nth-of-type(2) input {
          width: 100%; }
    .feedback_form form .row .item:nth-of-type(1) {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%; }
    .feedback_form form .row .item:nth-of-type(2) {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%; }
    .feedback_form form .row .item:nth-of-type(3) {
      -webkit-flex-basis: 30%;
          -ms-flex-preferred-size: 30%;
              flex-basis: 30%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-flow: row nowrap;
          -ms-flex-flow: row nowrap;
              flex-flow: row nowrap;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: start;
      -webkit-align-items: flex-start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .feedback_form form .row .item:nth-of-type(3) input {
        width: 55%; }
      .feedback_form form .row .item:nth-of-type(3) .captcha {
        width: 100px;
        height: 50px;
        display: block; }
        .feedback_form form .row .item:nth-of-type(3) .captcha:hover {
          cursor: pointer; }

.feedback_form_wrap textarea {
  line-height: 20px; }

#form input:focus::-webkit-input-placeholder,
#form textarea:focus::-webkit-input-placeholder {
  opacity: .4; }

#form input:focus::-moz-placeholder,
#form textarea:focus::-moz-placeholder {
  opacity: .4; }

#form input:focus::-o-input-placeholder,
#form textarea:focus::-o-input-placeholder {
  opacity: .4; }

#form input:focus::-ms-input-placeholder,
#form textarea:focus::-ms-input-placeholder {
  opacity: .4; }

#form input::-webkit-input-placeholder,
#form textarea::-webkit-input-placeholder {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

#form input::-moz-placeholder,
#form textarea::-moz-placeholder {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

#form input::-o-input-placeholder,
#form textarea::-o-input-placeholder {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

#form input::-ms-input-placeholder,
#form textarea::-ms-input-placeholder {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

#message {
  position: relative; }
  #message + label {
    font-family: 'Gilroy', 'Arial', 'sans-serif';
    font-weight: 200;
    font-size: 9.6vw;
    line-height: 168px;
    text-align: center;
    word-wrap: nowrap;
    white-space: nowrap;
    position: absolute;
    top: 0;
    left: 0;
    margin: auto;
    color: white;
    pointer-events: none;
    width: 100%;
    height: 168px;
    -webkit-transition: all .2s ease;
    transition: all .2s ease; }

@media screen and (min-width: 1435px) {
  #message {
    position: relative; }
    #message + label {
      font-size: 138px; } }

.feedback_form {
  max-width: 980px;
  width: 68%;
  margin: 0 auto; }

.feedback_form .item {
  float: left;
  width: -webkit-calc(50% - 125px);
  width: calc(50% - 125px);
  position: relative; }

.feedback_form_head {
  border-bottom: 2px solid #fff;
  margin-bottom: 35px;
  height: 168px;
  width: 100%;
  resize: none;
  font: 16px/48px Gilroy; }

.feedback_form_wrap textarea::-webkit-input-placeholder {
  font-family: 'Gilroy', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 130px;
  line-height: 1;
  text-align: center;
  word-wrap: nowrap;
  white-space: nowrap; }

.feedback_form_wrap textarea::-ms-input-placeholder {
  font-family: 'Gilroy', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 130px;
  line-height: 1;
  text-align: center; }

.feedback_form_wrap textarea:-ms-input-placeholder {
  font-family: 'Gilroy', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 130px;
  line-height: 1;
  text-align: center; }

.feedback_form_wrap textarea::-o-input-placeholder {
  font-family: 'Gilroy', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 130px;
  line-height: 1;
  text-align: center; }

.feedback_form_wrap textarea::-moz-placeholder {
  font-family: 'Gilroy', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 138px;
  line-height: 1;
  text-align: center; }

.feedback_form_wrap textarea:-moz-placeholder {
  font-family: 'Gilroy', 'Arial', 'sans-serif';
  font-weight: 200;
  font-size: 130px;
  line-height: 1;
  text-align: center; }

.about_page {
  margin-bottom: 100px; }

.about_page .row + .row {
  margin-top: 90px; }

.about_page .col-md-6 {
  padding: 0 30px 55px 55px;
  position: static; }

.about_page .text {
  position: absolute;
  left: 55px;
  top: 50%;
  width: -webkit-calc(50% - 85px);
  width: calc(50% - 85px);
  -webkit-transform: translateY(-55%);
  -ms-transform: translateY(-55%);
      transform: translateY(-55%); }

.about_page .pull-right .text {
  left: -webkit-calc(50% + 55px);
  left: calc(50% + 55px); }

.img_about_page {
  margin: 0 -45px 0 -70px;
  -webkit-box-shadow: 0 22px 40px rgba(51, 57, 74, 0.4);
          box-shadow: 0 22px 40px rgba(51, 57, 74, 0.4);
  position: relative;
  z-index: 2; }

.img_about_page img {
  display: block;
  width: 100%; }

.news_list {
  margin-top: -55px; }

.news_list_item {
  margin-bottom: 85px; }

.news_date {
  display: inline-block;
  font: 700 14px/1 Gilroy;
  padding-bottom: 12px;
  border-bottom: 2px solid #ff7a5f;
  margin-left: 35px; }

.news_list_name {
  height: 140px;
  padding: 25px 35px;
  margin-bottom: 20px;
  font: 700 28px/1.2 Gilroy;
  text-transform: uppercase;
  position: relative; }

.news_list_name a {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1; }

.news_list_name .pale {
  position: absolute;
  left: 35px;
  bottom: 25px;
  color: rgba(18, 18, 18, 0.2); }

.news_list_name .glow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0px;
  color: #121212;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.news_list_name .glow__wrapper {
  position: absolute;
  left: 35px;
  bottom: 25px;
  height: 100%;
  width: 0%;
  color: #121212;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.news_list_item:hover .glow__wrapper {
  width: 100%; }

.smi_page .glow__wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 100%;
  width: 0%;
  color: #121212;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.smi_page_row:hover .glow__wrapper {
  width: 100%; }

.news_list_name .horizontal_line {
  width: 100%; }

.news_list_text {
  padding: 0 35px 1px; }

.news_list_text p {
  margin-bottom: 35px; }

.news_list_text .more {
  float: right;
  width: 7%;
  margin-right: 5px;
  background: url(../img/icon_more.svg) right 5px no-repeat;
  background-size: 38px auto;
  color: transparent;
  font-size: 15px;
  line-height: 1;
  overflow: hidden;
  text-align: right;
  opacity: .4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.news_list_item:hover:hover .more {
  opacity: 1;
  width: auto;
  color: #888;
  padding-right: 50px; }

.news_choise {
  margin-bottom: 100px;
  padding: 0 35px; }

.news_choise .current {
  display: inline-block;
  padding-right: 10px;
  background: url(../img/icon_str_select.png) right 6px no-repeat;
  opacity: .2; }

.news_choise .drop_block {
  position: absolute;
  left: -25px;
  top: -18px;
  padding: 18px 25px;
  background: #fff;
  -webkit-box-shadow: 0 12px 30px rgba(26, 26, 26, 0.05);
          box-shadow: 0 12px 30px rgba(26, 26, 26, 0.05);
  opacity: 0;
  visibility: hidden;
  z-index: 2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.news_choise .drop_block li + li {
  margin-top: 20px; }

.news_choise .drop_block a {
  color: #121212;
  opacity: .2;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.bd-news .news_choise .sel {
  pointer-events: none; }

.bd-news .owl-carousel .owl-stage .owl-item .item {
  width: 52vw;
  max-width: 800px; }

.news_choise .drop_block .sel,
.news_choise .drop_block a:hover {
  opacity: 1; }

.news_choise .drop_block a:not(.sel):hover {
  color: orange; }

.news_choise_month,
.news_choise_year {
  float: left;
  margin-right: 15px;
  font: 700 15px/1 Gilroy;
  text-transform: uppercase;
  color: #121212;
  cursor: pointer;
  position: relative; }

.news_choise_month:hover .drop_block,
.news_choise_year:hover .drop_block {
  opacity: 1;
  visibility: visible; }

.search_box {
  float: right;
  width: 17px;
  height: 17px;
  background: url(../img/icon_lupa.png) 0 no-repeat;
  cursor: pointer; }

.search_box_inner {
  position: absolute;
  right: 0;
  top: -18px;
  width: 100%;
  height: 53px;
  background: #fff;
  border-top: 1px solid #e4e8ee;
  border-bottom: 1px solid #e4e8ee;
  -webkit-box-shadow: 0 12px 30px rgba(26, 26, 26, 0.05);
          box-shadow: 0 12px 30px rgba(26, 26, 26, 0.05);
  z-index: 3;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  border: none; }

.search_box_inner input {
  border: none; }

.search_box.open .search_box_inner {
  opacity: 1;
  visibility: visible; }

.search_box input[type=email],
.search_box input[type=text] {
  float: left;
  height: 51px;
  padding: 0 35px;
  line-height: 51px;
  color: #121212; }

.search_box input[type=submit] {
  position: absolute;
  right: 35px;
  top: 17px;
  width: 17px;
  height: 17px;
  background: url(../img/icon_lupa.png) 0 no-repeat;
  text-indent: -99999px; }

.search_box .del_text {
  position: absolute;
  right: 70px;
  top: 17px;
  width: 17px;
  height: 17px;
  background: url(../img/icon_close_1.png) 0 no-repeat; }

.search_box ::-webkit-input-placeholder {
  color: #121212; }

.search_box :-moz-placeholder,
.search_box ::-moz-placeholder {
  color: #121212; }

.search_box :-ms-input-placeholder {
  color: #121212; }

.housing_page {
  margin-bottom: 30px; }

.housing_page .col-md-6 {
  padding: 0 30px 25px 55px;
  position: static; }

.housing_page .col-md-6 + .col-md-6 {
  padding-left: 45px; }

.housing_page .col-lg-6 {
  padding: 0 25px 0 55px;
  position: static; }

.housing_page .h2 {
  font: 700 28px/1 Gilroy;
  text-transform: uppercase;
  padding: 0 0 13px 35px;
  margin: 0 0 25px;
  position: relative; }

.housing_page .h2:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #ff7a5f; }

.housing_page .h2 .horizontal_line {
  width: 100%;
  top: auto !important;
  bottom: 0 !important; }

.housing_page .row + .row {
  margin-top: 85px; }

.housing_page .col-sm-12 {
  padding: 0 55px; }

.housing_page .logo_jk {
  margin-top: 35px; }

.housing_page .logo_jk a {
  display: inline-block; }

.housing_page .logo_jk a + a {
  margin-left: 25px; }

.img_line_wrap + .housing_page,
.img_line_wrap + .prj_page {
  margin-bottom: 80px; }

.smi_page {
  margin-bottom: 100px; }

.smi_page .h1 {
  font: 700 28px/1 Gilroy;
  text-transform: uppercase;
  padding: 0 0 13px 35px;
  margin: 0 0 115px;
  position: relative; }

.smi_page .h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #ff7a5f; }

.smi_page .h1 .horizontal_line {
  width: 100%;
  top: auto !important;
  bottom: 0 !important; }

.news_list .h1 {
  font: 700 28px/1 Gilroy;
  text-transform: uppercase;
  padding: 0 0 13px 35px;
  margin: 50px 0 165px;
  position: relative; }

.news_list .h1:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background: #ff7a5f; }

.news_list .h1 .horizontal_line {
  width: 100%;
  top: auto !important;
  bottom: 0 !important; }

.news_list .horizontal_line {
  bottom: auto;
  top: 0; }

.smi_page_row {
  position: relative; }

.smi_page_row + .smi_page_row {
  margin-top: 130px; }

.smi_page_link {
  position: absolute;
  left: 0;
  top: 0;
  width: 50%;
  height: 100%;
  z-index: 2; }

.smi_page_row .pale {
  color: rgba(18, 18, 18, 0.2); }

.smi_page_row .glow {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  color: #121212;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.smi_page_row:hover .glow {
  width: 100%; }

.smi_page_row:nth-child(odd) .smi_page_link {
  left: auto;
  right: 0; }

.smi_page .col-lg-6 {
  padding: 0 110px 0 35px;
  position: static; }

.smi_page .col-lg-6.pull-right {
  padding: 0 35px 0 90px; }

.smi_page h2 {
  display: inline-block;
  font-family: Gilroy;
  position: relative; }

.img_smi_page {
  position: absolute;
  left: 50%;
  top: 0;
  -webkit-transform: translate(-50%, -40%);
  -ms-transform: translate(-50%, -40%);
      transform: translate(-50%, -40%);
  z-index: 2; }

.smi_page_year {
  position: absolute;
  left: -60px;
  top: 0;
  margin-top: -7px;
  font: 15px/1 Gilroy;
  text-transform: uppercase; }

.smi_page_year.pull-right {
  left: auto;
  right: -60px; }

.infrostr_page {
  z-index: 999; }

.infrostr_page .col-md-6:nth-of-type(2) ul li {
  margin-top: 10px; }

.infrostr_page .col-md-6 {
  padding: 0 30px 55px 55px; }

.infrostr_page h3 {
  font-weight: 700;
  font-size: 25px;
  color: #ff7a5f;
  margin: 20px 0 0; }

.infrostr_page .horizontal_line {
  width: 100%; }

.infrostr_page .col-lg-6 {
  position: static; }

.infrostr_page .text_vertical {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50%;
  padding: 0 30px 0 55px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%); }

.infrostr_map {
  margin: 40px 0 200px; }

.infrostr_map_img {
  margin-left: -15px;
  position: relative; }

.infrostr_map .dot {
  position: absolute;
  width: 8px;
  height: 8px;
  -webkit-border-radius: 4px;
          border-radius: 4px;
  background: gray; }

.infrostr_map .dot,
.infrostr_map_img .dot span {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -ms-transition: all .3s ease; }

.infrostr_map .dot.dot_1 {
  left: 143px;
  top: 59.5%; }

.infrostr_map .dot.dot_2 {
  left: 60px;
  top: 79.3%; }

.infrostr_map .dot.dot_3 {
  left: 252px;
  top: 81.5%; }

.infrostr_map .dot.dot_4 {
  left: 129px;
  top: 90%; }

.infrostr_map .dot.dot_5 {
  left: 114px;
  top: 95%; }

.infrostr_map .dot.dot_6 {
  left: 163px;
  top: 93%; }

.infrostr_map_img .dot {
  background: #ff7a5f; }

.dot--transparent {
  background: gray !important;
  width: 6px !important;
  height: 6px !important; }

.dot--transparent .dot_ellips_wrapper {
  opacity: 0 !important;
  visibility: hidden;
  pointer-events: none; }

.infrosts_map .dot span {
  opacity: 1; }

@-webkit-keyframes a {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0); }
  60% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

@keyframes a {
  0% {
    opacity: 1;
    -webkit-transform: scale(0);
    transform: scale(0); }
  60% {
    opacity: 1; }
  to {
    opacity: 0;
    -webkit-transform: scale(1.2);
    transform: scale(1.2); } }

.dot_ellips_wrapper {
  transition: all .7s linear;
  -webkit-transition: all .7s linear;
  -o-transition: all .7s linear;
  -moz-transition: all .7s linear;
  -ms-transition: all .7s linear;
  visibility: visible;
  opacity: 1; }

.infrostr_map .dot_elips_1 {
  opacity: 1;
  animation: a 5s ease infinite;
  -webkit-animation: a 5s ease infinite;
  -moz-animation: a 5s ease infinite;
  -ms-animation: a 5s ease infinite;
  -o-animation: a 5s ease infinite; }

.infrostr_map .dot_elips_1,
.infrostr_map .dot_elips_2 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 232px;
  height: 232px;
  -webkit-border-radius: 116px;
          border-radius: 116px;
  margin: -113px 0 0 -113px;
  border: 1px solid #ff7a5f;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0); }

.infrostr_map .dot_elips_2 {
  animation: a 5s ease 1.5s infinite;
  -webkit-animation: a 5s ease 1.5s infinite;
  -moz-animation: a 5s ease 1.5s infinite;
  -ms-animation: a 5s ease 1.5s infinite;
  -o-animation: a 5s ease 1.5s infinite; }

.infrostr_map .dot_elips_3 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0 auto;
  width: 232px;
  height: 232px;
  -webkit-border-radius: 116px;
          border-radius: 116px;
  margin: -113px 0 0 -113px;
  border: 1px solid #ff7a5f;
  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  animation: a 5s ease 3s infinite;
  -webkit-animation: a 5s ease 3s infinite;
  -moz-animation: a 5s ease 3s infinite;
  -ms-animation: a 5s ease 3s infinite;
  -o-animation: a 5s ease 3s infinite; }

.infrostr_map .dot_text {
  position: absolute;
  left: 23px;
  top: -6px;
  font-weight: 300;
  font-size: 18px;
  line-height: 1;
  white-space: nowrap; }

.infrostr_map_list {
  position: absolute;
  left: 55px;
  top: -40px;
  width: 330px;
  z-index: 999; }

.infrostr_map_list li {
  float: left;
  width: 205px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 20px; }

.infrostr_map_list li a {
  color: #000;
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.infrostr_map_list li:nth-child(odd) {
  width: 120px; }

.infrostr_map_list .sel,
.infrostr_map_list a:hover {
  color: #ff7a5f; }

.infrostr_img_wrap .col-md-6 {
  position: static;
  padding: 0; }

.infrostr_img {
  position: relative; }

.infrostr_img img {
  border: none !important;
  cursor: pointer; }

.infrostr_img img:not(.active) {
  opacity: 1 !important; }

.fg-flipping {
  transition: opacity 0.5s ease, -webkit-transform 0s ease 1s !important;
  -webkit-transition: opacity 0.5s ease, -webkit-transform 0s ease 1s !important;
  transition: transform 0s ease 1s, opacity 0.5s ease !important;
  transition: transform 0s ease 1s, opacity 0.5s ease, -webkit-transform 0s ease 1s !important;
  -webkit-transition: transform 0s ease 1s, opacity 0.5s ease !important; }

.infrostr_img .img_1,
.infrostr_img .img_2,
.infrostr_img .img_3 {
  width: 100%;
  -webkit-box-shadow: 0 22px 40px rgba(51, 57, 74, 0.4);
          box-shadow: 0 22px 40px rgba(51, 57, 74, 0.4); }

.infrostr_experience {
  margin: 75px 0; }

.infrostr_img_wrap .col-md-6:first-of-type {
  padding-top: 250px; }

.infrostr_experience h2 {
  margin: 0 0 20px 55px; }

.infrostr_experience .col-md-6 {
  padding-top: 25px; }

.infrostr_experience .horizontal_line {
  bottom: auto;
  top: 0;
  left: 55px;
  width: -webkit-calc(100% - 110px);
  width: calc(100% - 110px); }

.infrostr_experience .icon_plus {
  left: 50%;
  background: #ff7a5f; }

.icon_plus {
  z-index: 9999; }

.news_list {
  z-index: 99999; }

.prj_item {
  margin-bottom: 105px; }

.go_to_prj {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.prj_item h2 {
  display: inline-block;
  position: relative;
  margin: 0 35px 35px; }

.prj_item .pale {
  color: rgba(18, 18, 18, 0.2); }

.prj_item .glow {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  color: #121212;
  white-space: pre;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.prj_item:hover .glow {
  width: 100%; }

.prj_item .more {
  position: absolute;
  right: -20px;
  top: 5px;
  z-index: 3; }

.prj_item .horizontal_line {
  left: auto;
  right: 0;
  bottom: auto;
  top: 30px; }

.prj_item_img {
  margin: 0 -20px;
  -webkit-box-shadow: 0 22px 40px rgba(51, 57, 74, 0.42);
          box-shadow: 0 22px 40px rgba(51, 57, 74, 0.42);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: 0;
  position: relative;
  z-index: 1; }

.prj_item_img img {
  width: 100%; }

.prj_item_logo {
  position: absolute;
  left: 0;
  top: 50%;
  width: 280px;
  height: 88px;
  line-height: 88px;
  text-align: right;
  padding-right: 25px;
  margin-top: -44px;
  background: #fff; }

.prj_item_logo img {
  width: auto;
  vertical-align: middle; }

.prj_page {
  margin-bottom: 30px; }

.prj_page .col-md-6 {
  padding: 0 35px 55px 60px; }

.prj_page .col-md-12 {
  padding: 0 60px 55px 60px; }

.prj_page .col-md-6 + .col-md-6 {
  padding-bottom: 0; }

.prj_page .col-lg-6 {
  padding: 0 35px 0 60px; }

.prj_page .col-lg-6 h2 {
  margin-bottom: 35px; }

.prj_page h3 {
  font-weight: 700;
  font-size: 25px;
  color: #ff7a5f;
  margin: 20px 0 0; }

.prj_page .horizontal_line {
  width: 100%; }

.prj_page .col-lg-6 .horizontal_line {
  bottom: auto;
  top: 85px; }

.prj_page.img_line_wrap {
  margin-top: 80px; }

.contacts_map {
  position: absolute;
  left: 0;
  top: 0;
  width: 103%;
  height: 100vh; }

.contacts_wrap {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  color: #fff;
  z-index: 9999; }

.contacts_wrap {
  pointer-events: none; }

.contacts_wrap .col-lg-4 {
  padding-left: 25px; }

.contacts_wrap .col-lg-4 > * {
  pointer-events: all; }

.contacts_wrap .breadcrumb {
  margin-bottom: 40px; }

.contacts_wrap .icon_plus {
  position: absolute;
  left: 1px;
  top: 16px;
  background: url(../img/icon_plus.png) 50% no-repeat #ff7a5f;
  width: 24px;
  height: 24px;
  margin: 0 0 0 -12px;
  -webkit-border-radius: 12px;
          border-radius: 12px; }

.contacts_wrap .icon_plus_0 {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 34px;
  height: 34px;
  margin: -17px 0 0 -17px;
  border: 1px solid #d6d6d6;
  -webkit-border-radius: 17px;
          border-radius: 17px;
  opacity: .7; }

.contacts_wrap .pale {
  color: rgba(255, 255, 255, 0.3); }

.contacts_wrap dl {
  font: 15px/1 Gilroy; }

.contacts_wrap .manager-header {
  margin-bottom: 0; }

.contacts_wrap dt {
  font-weight: 400;
  margin-bottom: 10px; }

.contacts_wrap dd {
  display: inline-block;
  font: 700 28px/1 Gilroy;
  text-transform: uppercase;
  position: relative;
  margin-bottom: 40px; }

.contacts_wrap dd .glow {
  position: absolute;
  left: 0;
  top: 0;
  width: 0;
  color: #fff;
  white-space: nowrap;
  overflow: hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.contacts_wrap dd:hover .glow {
  width: 100%; }

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display: none; }

#map {
  z-index: 9; }

.icon_dots--hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none; }

.feedback_form_wrap--visible {
  height: 262px;
  margin: 75px 0 115px;
  visibility: visible;
  opacity: 1; }

.main-translate {
  height: 100%;
  transition: all .5s linear;
  -webkit-transition: all .5s linear;
  -o-transition: all .5s linear;
  -moz-transition: all .5s linear;
  -ms-transition: all .5s linear; }

.slick {
  overflow: visible;
  height: 145px !important;
  padding: 0 17%;
  position: relative;
  top: 20px;
  overflow: hidden;
  transition: all 1.2s ease .6s;
  -webkit-transition: all 1.2s ease .6s;
  opacity: 1;
  -ms-transform: translateY(0);
      transform: translateY(0);
  -webkit-transform: translateY(0);
  height: 100%; }

.slick,
.swiper {
  z-index: 9999;
  width: 100%; }

.swiper {
  position: absolute;
  top: 96px;
  left: 0;
  right: 0; }

.swiper .swiper-next,
.swiper .swiper-prev {
  width: 26px;
  height: 26px;
  top: 41px;
  position: absolute;
  background: #ff7a5f;
  z-index: 9999;
  display: block;
  visibility: visible;
  opacity: 1; }

.swiper .swiper-slide {
  overflow: hidden; }

.carousel--hidden .slide-one,
.carousel--hidden .slide-three,
.carousel--hidden .slide-two,
.carousel--hidden .swiper-next,
.carousel--hidden .swiper-prev {
  transform: translate3d(0, 100px, 0);
  -webkit-transform: translate3d(0, 100px, 0);
  opacity: 0; }

.swiper .swiper-prev {
  transition: all 1.7s ease .8s;
  -webkit-transition: all 1.7s ease .8s; }

.swiper .slide-one {
  transition: all 1.7s ease 1s;
  -webkit-transition: all 1.7s ease 1s; }

.swiper .slide-two {
  transition: all 1.7s ease 1.2s;
  -webkit-transition: all 1.7s ease 1.2s; }

.swiper .slide-three {
  transition: all 1.7s ease 1.4s;
  -webkit-transition: all 1.7s ease 1.4s; }

.swiper .swiper-next {
  transition: all 1.7s ease 1.6s;
  -webkit-transition: all 1.7s ease 1.6s; }

.swiper .swiper-prev {
  left: 0; }

.swiper .swiper-prev:before {
  content: "";
  position: absolute;
  left: -10px;
  top: -10px;
  background: url(../img/icon_str_slide.svg) 50% no-repeat;
  width: 40px;
  height: 9px;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
      transform: rotate(90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
      transform-origin: center;
  opacity: 1; }

.swiper .swiper-next {
  right: 0; }

.swiper .swiper-next:before {
  content: "";
  opacity: 1;
  position: absolute;
  left: -10px;
  top: 20px;
  background: url(../img/icon_str_slide.svg) 50% no-repeat;
  width: 40px;
  height: 9px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
      transform: rotate(-90deg);
  -webkit-transform-origin: center;
  -ms-transform-origin: center;
      transform-origin: center; }

.slick div {
  height: auto; }

.owl-carousel {
  margin: 20px auto 0;
  z-index: 99999;
  position: relative;
  margin-top: 100px;
  overflow: hidden;
  padding-bottom: 100px; }

.owl-carousel .owl-stage {
  height: 100%; }

.owl-carousel .owl-stage-outer {
  height: 100%;
  overflow: visible !important; }

.owl-carousel-accomodation {
  margin-top: 50px; }

.owl-carousel .owl-item {
  position: relative;
  height: 100%; }

.about_page,
.housing_page,
.prj_page,
.prjs_page,
.smi_page {
  z-index: 9999; }

.owl-carousel .item {
  width: 40vw;
  height: 360px;
  display: block;
  margin: 0 auto;
  -webkit-box-shadow: 0 22px 40px rgba(51, 57, 74, 0.42);
          box-shadow: 0 22px 40px rgba(51, 57, 74, 0.42);
  overflow: visible; }

.owl-carousel .owl-nav {
  z-index: 12;
  height: 100%; }

.owl-carousel .owl-nav div {
  position: absolute !important;
  top: 36%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  height: 76%;
  width: 50px; }

.owl-carousel .owl-prev {
  background: url(../img/icon-prev.png) no-repeat 50% !important; }

.owl-carousel .owl-next {
  background: url(../img/icon-next.png) no-repeat 50% !important; }

.bd-about,
.bd-akkord,
.bd-infro,
.bd-news,
.bd-pirogovo,
.bd-project,
.bd-smi {
  height: auto !important;
  background: #fff; }

a[href^="http://maps.google.com/maps"],
a[href^="https://maps.google.com/maps"],
a[href^="https://www.google.com/maps"] {
  display: none !important; }

#map-report div.gmnoprint,
#map-report div.gmnoscreen,
.gm-bundled-control .gmnoprint,
.gmnoprint:not(.gm-bundled-control),
img[src="http://maps.gstatic.com/mapfiles/google_white.png"] {
  display: none; }

.btn--hover {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.btn:after {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.btn--hover:hover:after {
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  left: 10px;
  top: 0;
  width: -webkit-calc(100% - 20px);
  width: calc(100% - 20px);
  -webkit-box-shadow: 0 10px 22.5px rgba(255, 122, 95, 0.65);
          box-shadow: 0 10px 22.5px rgba(255, 122, 95, 0.65); }

.btn--hover:hover {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
      transform: scale(0.96); }

/*.btn--hover:after {
    box-shadow: 0 8px 30px rgba(255, 122, 95, .45)
}*/
.show--transition {
  -ms-transform: translateX(0);
      transform: translateX(0);
  -webkit-transform: translateX(0); }

.show--transition,
.show--transition--safe {
  transition-property: all;
  transition-duration: .9s;
  transition-timing-function: ease-out;
  -webkit-transition-property: all;
  -webkit-transition-duration: .9s;
  -webkit-transition-timing-function: ease-out;
  opacity: 1; }

.show--hidden {
  opacity: 0 !important; }

.show--hidden--left {
  opacity: 0 !important;
  -ms-transform: translateX(-60px) !important;
      transform: translateX(-60px) !important;
  -webkit-transform: translateX(-60px) !important; }

.show--hidden--right {
  opacity: 0 !important;
  -ms-transform: translateX(60px) !important;
      transform: translateX(60px) !important;
  -webkit-transform: translateX(60px) !important; }

.show--hidden--bottom {
  opacity: 0 !important;
  -ms-transform: translateY(60px) !important;
      transform: translateY(60px) !important;
  -webkit-transform: translateY(60px) !important; }

#anchor-up {
  width: 30px;
  height: 30px;
  background: #ff7a5f;
  transition: all 0.5s cubic-bezier(0.54, 1.54, 0.43, 0.94);
  -webkit-transition: all 0.5s cubic-bezier(0.54, 1.54, 0.43, 0.94);
  position: fixed;
  bottom: 6%;
  right: 39px;
  z-index: 99999;
  -webkit-border-radius: 60px;
          border-radius: 60px;
  -webkit-box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.3);
          box-shadow: 0 4px 13px 0 rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row nowrap;
  -webkit-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
          justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  cursor: pointer;
  -ms-transform: scale(0);
      transform: scale(0);
  -webkit-transform: scale(0);
  opacity: 0; }

#anchor-up:after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 40px;
          border-radius: 40px;
  border: 1px solid #ff7a5f;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  opacity: 0;
  transition: all .5s ease;
  -webkit-transition: all .5s ease; }

#anchor-up.anchor-up--active {
  -ms-transform: scale(1);
      transform: scale(1);
  -webkit-transform: scale(1);
  opacity: .8; }

#anchor-up:hover {
  opacity: 1; }

#anchor-up:hover:after {
  opacity: .3; }

#anchor-up svg {
  width: 12px;
  height: 12px;
  fill: #fff; }

.vertical_line_box_main {
  z-index: 1001 !important;
  height: -webkit-calc(100vh - 60px);
  height: calc(100vh - 60px); }

/*.horizontal_line {
    z-index: 1
}*/
.vertical_line_box_main .icon_2,
.vertical_line_box_main .icon_4,
.vertical_line_box_main .icon_6,
.vertical_line_box_main .icon_8,
.vertical_line_box_main .icon_10 {
  top: 94.5% !important; }

.news__wrapper {
  position: relative;
  z-index: 9999; }

.news__wrapper small {
  color: #121212;
  font-family: Gilroy;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }

.news__wrapper small:after {
  content: '';
  width: 38px;
  height: 2px;
  display: block;
  background-color: #ff7a5f;
  margin-top: 10px; }

.news__wrapper h2 {
  color: #121212;
  font-family: Gilroy;
  font-size: 28px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  margin-top: 20px;
  margin-bottom: 50px; }

.news__wrapper .news__nav {
  margin-top: 70px; }

.news__wrapper .news__post__wrapper {
  width: 100%;
  min-width: 100px;
  max-height: 500px; }

.news__wrapper .news__post p {
  color: #121212;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  transition: all .9s ease-out;
  -webkit-transition: all .9s ease-out;
  opacity: 0;
  /*    -webkit-column-count: 2;
    -webkit-column-width: 49%;
    -webkit-column-gap: 100px;
    column-count: 2;
    column-width: 49%;
    column-gap: 100px;*/ }

.first-p-row {
  margin-top: 50px; }

.news__wrapper .news__post p img:not(.float--right):not(.float--left) {
  width: -webkit-calc(100% + 130px);
  width: calc(100% + 130px);
  height: auto;
  display: block;
  position: relative;
  left: -65px;
  -webkit-box-shadow: 0 14px 49px rgba(0, 0, 0, 0.35);
          box-shadow: 0 14px 49px rgba(0, 0, 0, 0.35);
  margin-top: 50px;
  margin-bottom: 50px; }

.news__wrapper .news__post .float--right {
  width: 50%;
  height: auto;
  display: block;
  float: right;
  -webkit-box-shadow: 0 14px 49px rgba(0, 0, 0, 0.5);
          box-shadow: 0 14px 49px rgba(0, 0, 0, 0.5);
  margin: 30px 0 30px 30px; }

.news__wrapper .news__post .float--left {
  width: 50%;
  height: auto;
  display: block;
  float: left;
  -webkit-box-shadow: 0 14px 49px rgba(0, 0, 0, 0.5);
          box-shadow: 0 14px 49px rgba(0, 0, 0, 0.5);
  margin: 30px 30px 30px 0; }

.news__wrapper .news__nav a {
  width: 235px;
  height: 50px;
  margin: 0 auto;
  position: relative; }

.news__wrapper .news__nav__button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.news__nav .col-lg-6 {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.news__wrapper .news__nav a p {
  color: #ccc;
  display: inline;
  font-family: Gilroy;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  transition: all .3s ease;
  -webkit-transition: all .3s ease;
  margin: 0 15px; }

.news__wrapper .news__nav a svg {
  width: 32px;
  height: auto;
  fill: #ccc;
  transition: all .2s linear;
  -webkit-transition: all .2s linear; }

.news__wrapper .news__nav__prev p {
  -webkit-box-ordinal-group: 3;
  -webkit-order: 2;
      -ms-flex-order: 2;
          order: 2; }

.news__wrapper .news__nav__prev svg {
  /*    position: absolute;
    top: 50%;
    left: calc(50% - 90px);*/
  -webkit-box-ordinal-group: 2;
  -webkit-order: 1;
      -ms-flex-order: 1;
          order: 1;
  -ms-transform: translate(0%, 0%) rotate(180deg);
      transform: translate(0%, 0%) rotate(180deg);
  -webkit-transform: translate(0%, 0%) rotate(180deg); }

.news__wrapper .news__nav__next svg {
  /*    position: absolute;
    top: 50%;
    right: calc(50% - 112px);
    transform: translate3d(-50%, -50%, 0);
    -webkit-transform: translate3d(-50%, -50%, 0);*/ }

.news__nav__button:hover p, .news__nav__button:hover p, .news__nav__button:hover svg, .news__nav__button:hover svg {
  color: #121212 !important;
  fill: #121212 !important; }

.news__nav__prev:hover svg {
  transform: translate3d(-50%, 0%, 0) rotate(180deg);
  -webkit-transform: translate3d(-50%, 0%, 0) rotate(180deg); }

.news__nav__next:hover svg {
  transform: translate3d(50%, 0, 0);
  -webkit-transform: translate3d(50%, 0, 0); }

/*.news__nav__prev:before {
    content: '';
    display: block;
    height: 8px;
    width: 20px;
    background: white;
    position: absolute;
    left: 25px;
    top: 5px;
    z-index: 999;
}

.news__nav__next:before {
    content: '';
    display: block;
    height: 8px;
    width: 20px;
    background: white;
    position: absolute;
    right: 34px;
    top: 5px;
    z-index: 999;
}*/
.post__horizontal__line {
  width: 75%;
  height: 1px;
  background: rgba(154, 157, 167, 0.2);
  position: absolute;
  left: 0;
  top: 700px; }

.post__horizontal__line .post__point {
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/post-point.png") no-repeat center;
  position: absolute;
  left: -25px;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%); }

.post_share {
  position: absolute;
  top: 688px;
  display: block;
  left: 50%;
  -ms-transform: translateX(-50%);
      transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  width: 68%;
  max-width: 1050px;
  height: 10px;
  z-index: 99999; }

.post_share .post_share_wrapper {
  position: absolute;
  right: -12px; }

.post_share p {
  display: inline-block;
  color: #121212;
  font-family: Gilroy;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  position: relative;
  top: -7px;
  right: 10px; }

.post_share .share-facebook {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ff7a5f;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  position: relative; }

.post_share .share-vk {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: #ff7a5f;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  position: relative;
  margin-left: 13px; }

.post_share .share-facebook svg {
  fill: white;
  width: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

.post_share .share-vk svg {
  fill: white;
  width: 13px;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.post_share .share-facebook:before, .post_share .share-vk:before {
  content: '';
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: 36px;
  height: 36px;
  -webkit-border-radius: 100px;
          border-radius: 100px;
  opacity: 0.7;
  border: 1px solid #d6d6d6;
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.post_share .share-facebook, .post_share .share-vk {
  transition: all .3s ease;
  -webkit-transition: all .3s ease; }

.post_share .share-facebook:hover, .post_share .share-vk:hover {
  background: #0092D6; }

/*#bd.bd-contacts .vertical_line_box {
  display: none;
}*/
#bd.bd-contacts .vertical_line_box .icon_plus.icon_11,
#bd.bd-contacts .vertical_line_box .icon_plus.icon_12,
#bd.bd-contacts .vertical_line_box .icon_plus.icon_13,
#bd.bd-contacts .vertical_line_box .icon_plus.icon_14,
#bd.bd-contacts .vertical_line_box .icon_plus.icon_15 {
  top: 855px; }

/*#bd.bd-contacts .vertical_line_box .icon_plus.icon_11, {
    top: 480px;
}*/
#bd.bd-contacts .vertical_line_box .icon_plus:nth-child(odd) {
  top: 480px; }

#carousel-main {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  z-index: 100;
  display: block;
  opacity: 1; }
  #carousel-main .owl-item .item {
    width: 100%;
    height: 100%; }
  #carousel-main .owl-nav {
    visibility: hidden;
    opacity: 0; }

.feedback__bar {
  position: absolute;
  top: -90px;
  height: 90px;
  width: 100%;
  background: #FF7B5D;
  z-index: 9999;
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  text-align: center;
  color: white;
  font-family: Gilroy;
  font-size: 16px;
  font-weight: 400;
  line-height: 90px; }

.smi_page .smi_page_row_reward {
  min-height: 170px; }
  .smi_page .smi_page_row_reward.pull-left .col-lg-6 {
    float: right;
    padding-right: 20px;
    padding-left: 125px; }

.smi_page .smi_page_row {
  position: relative; }

.smi_page .smi_page_row_reward {
  position: relative;
  width: 100%; }
  .smi_page .smi_page_row_reward .reward-img {
    position: absolute;
    left: 50%;
    top: 55%;
    -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%); }
  .smi_page .smi_page_row_reward.pull-left .smi_page_year {
    top: 51%;
    left: -60px; }
  .smi_page .smi_page_row_reward.pull-left .circle-big {
    position: absolute;
    left: 100%;
    top: 50%;
    width: 228px;
    height: 228px;
    margin: -114px 0 0 -114px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 114px;
            border-radius: 114px;
    opacity: .3; }
  .smi_page .smi_page_row_reward.pull-left .circle-small {
    position: absolute;
    right: -60px;
    top: 50%;
    width: 120px;
    height: 120px;
    margin: -60px 0 0 -60px;
    border: 1px solid #d6d6d6;
    -webkit-border-radius: 60px;
            border-radius: 60px;
    opacity: .3; }
  .smi_page .smi_page_row_reward.pull-left .w-horizontal_line {
    left: 0;
    top: 50%; }
    .smi_page .smi_page_row_reward.pull-left .w-horizontal_line:before {
      content: url("../img/post-point.png");
      position: absolute;
      top: -16px;
      left: -17px; }
  .smi_page .smi_page_row_reward.pull-right .smi_page_year {
    top: 51%;
    right: -60px;
    left: auto; }
  .smi_page .smi_page_row_reward.pull-right .reward-img {
    top: 58%; }
  .smi_page .smi_page_row_reward.pull-right .w-horizontal_line {
    right: 0;
    top: 50%; }
    .smi_page .smi_page_row_reward.pull-right .w-horizontal_line:before {
      content: url("../img/post-point.png");
      position: absolute;
      top: -16px;
      right: -17px; }
    .smi_page .smi_page_row_reward.pull-right .w-horizontal_line .circle-big {
      position: absolute;
      left: 0;
      top: 50%;
      width: 228px;
      height: 228px;
      margin: -114px 0 0 -114px;
      border: 1px solid #d6d6d6;
      -webkit-border-radius: 114px;
              border-radius: 114px;
      opacity: .3; }
    .smi_page .smi_page_row_reward.pull-right .w-horizontal_line .circle-small {
      position: absolute;
      left: 0%;
      top: 30%;
      width: 120px;
      height: 120px;
      margin: -60px 0 0 -60px;
      border: 1px solid #d6d6d6;
      -webkit-border-radius: 60px;
              border-radius: 60px;
      opacity: .3; }
  .smi_page .smi_page_row_reward .w-horizontal_line {
    height: 1px;
    width: 50%;
    position: absolute;
    top: -16px;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    background: #f0eeef; }

.news_list_text .more {
  float: right;
  width: 7%;
  margin-right: 5px;
  background: url(../img/icon_more.svg) right 5px no-repeat;
  background-size: 38px auto;
  color: transparent;
  font-size: 15px;
  line-height: 1;
  overflow: hidden;
  text-align: right;
  opacity: .4;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }

.news_list_item:hover:hover .more {
  opacity: 1;
  width: auto;
  color: #888;
  padding-right: 50px; }

.h--100 {
  height: 100%; }
